@using Application.Common.Utilities
@using Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    List<CategoryDetail> categoryDetails = ViewBag.CatDetail;
    List<SubCategory> subCategories = ViewBag.SubCat;
    List<Feature> features = ViewBag.Feature;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت ویژگی دسته بندی ها</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                    <li class="breadcrumb-item active">جزئیات دسته بندی</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->.
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">دسته بندی ویژگی ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#SubCategory" data-toggle="tab">ویژگی ها</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex flex-column justify-content-around align-items-around align-content-around p-4" asp-action="InsertDetailCat" asp-controller="Admin" method="post">
                                    <div id="FlexDataType" class="d-flex flex-wrap p-2 ">
                                        <div class="form-group p-2">
                                            <label for="exampleInputPassword1">عنوان دسته بندی ویژگی</label>
                                            <input name="title" type="text" class="form-control" id="exampleInputPassword1" placeholder="عنوان دسته بندی ویژگی را وارد کنید">
                                        </div>
                                        <div class="form-group d-flex flex-column p-2">
                                            <label for="exampleInputPassword1">نوع ویژگی</label>
                                            <select style="min-width: 200px;" name="featureId" class="form-select select2" aria-label="Default select example">
                                                @{
                                                    int index = 0;
                                                    foreach (var i in features)
                                                    {
                                                        if (index == 0)
                                                        {
                                                            <option value="@i.Id" selected>@i.Title</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i.Id">@i.Title</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group p-2 d-flex flex-column">
                                            <label for="exampleInputPassword1">نوع زیر دسته </label>
                                            <select style="min-width: 200px;" name="subCatId" class="form-select select2" aria-label="Default select example">
                                                @{
                                                    int index1 = 0;
                                                    foreach (var i in subCategories)
                                                    {
                                                        if (index1 == 0)
                                                        {
                                                            <option value="@i.Id" selected>@i.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i.Id">@i.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group d-flex flex-column p-2">
                                            <label for="exampleInputPassword1">نوع اطلاعات</label>
                                            <select style="min-width: 200px;" name="dataType" id="DataTypeInp" class="form-select select2" aria-label="Default select example">
                                                <option selected value="0">متن کوتاه</option>
                                                <option value="1">چند گزینه ای</option>
                                                <option value="2">متن بلند</option>
                                                <option value="3">CheckBox</option>
                                            </select>
                                        </div>
                                        <div id="OptionInp" class="form-group p-2">
                                            <label for="exampleInputPassword1">قابلیت ها</label>
                                            <textarea name="option" type="text" class="form-control" id="exampleInputPassword1" style="height: 45px" placeholder="قابلیت ها"></textarea>
                                        </div>

                                        <div class="d-flex flex-column gap2">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <input name="isActive" class="form-check-input " type="checkbox" value="option1">
                                                    <label class="form-check-label">نمایش در جستجو</label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="form-input">
                                                    <button type="submit" class="btn btn-primary">ثبت</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </form>

                                <div class="card mt-3">
                                    <form asp-action="ManageCatDetail" asp-controller="Admin" method="post">
                                        <div class="input-group p-3 w-25   m-2">
                                            <input type="text" value="0" name="index" hidden="hidden"/>
                                            <input type="text" class="form-control w-50" name="search" style="border-radius: 0px 5px 5px 0px; !important;max-width: 250px" placeholder="جستجو">
                                            <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو </button>
                                        </div>
                                    </form>
                                    <div class="card-body p-0">
                                        <table class="table table-condensed">
                                            <tbody>
                                            <tr>
                                                <th class="text-center" style="width: 5%">id</th>
                                                <th class="text-center" style="width: 20%">عنوان</th>
                                                <th class="text-center" style="width: 20%">زیردسته</th>
                                                <th class="text-center" style="width: 20%">نوع ویژگی</th>
                                                <th class="text-center" style="width: 30%">نوع اطلاعات</th>
                                                <th class="text-center" style="width: 10%">#</th>
                                            </tr>
                                            @{
                                                if (categoryDetails.Count < 1)
                                                {
                                                    <tr>
                                                        <td>
                                                            یافت نشد
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    foreach (var i in categoryDetails)
                                                    {
                                                        <tr>
                                                            <td class="text-center">@i.Id</td>
                                                            <td class="text-center">@i.Title</td>
                                                            <td class="text-center">@i.SubCategory.Name</td>
                                                            <td class="text-center">@i.Feature.Title</td>
                                                            <td class="text-center">@i.DataType</td>
                                                            <td class="text-center">
                                                                <form>
                                                                    <a class="badge bg-warning text-muted catDetail" data-toggle="modal" data-target="#CatDetail">ویرایش</a>
                                                                    <input type="text" name="mId" class="mId" value="@i.Id" hidden="hidden"/>
                                                                    <input type="text" name="mTitleCatDetail" class="mTitleCatDetail" value="@i.Title" hidden="hidden"/>
                                                                    <input type="text" name="mSubCatId" class="mSubCatId" value="@i.SubCategoryId" hidden="hidden"/>
                                                                    <input type="text" name="mFeatureId" class="mFeatureId" value="@i.FeatureId" hidden="hidden"/>
                                                                    <input type="text" name="misSearchCatDetail" class="misSearchCatDetail" value="@i.ShowInSearch.ToString()" hidden="hidden"/>
                                                                    <input type="text" name="mDataType" class="mDataType" value="@i.DataType.GetDataTypeId()" hidden="hidden"/>
                                                                    <input type="text" name="mOption" class="mOption" value="@i.Option" hidden="hidden"/>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                            </div>
                            <div class="tab-pane" id="SubCategory">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex justify-content-start p-2 gap-3" asp-action="InsertFeature" asp-controller="Admin" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">عنوان ویژگی</label>
                                        <input name="title" type="text" class="form-control" id="exampleInputPassword1" placeholder="عنوان دسته بندی را وارد کنید">
                                    </div>
                                    <div class="d-flex flex-column align-items-center justify-content-end">
                                        <div class="form-group">
                                            <div class="form-input">
                                                <button type="submit" class="btn btn-primary">ثبت</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>


                                <div class="card mt-3">
                                    <form asp-action="ManageCatDetail" asp-controller="Admin" method="post">
                                        <div class="input-group p-3 w-25   m-2">
                                            <input type="text" value="1" name="index" hidden="hidden"/>
                                            <input type="text" class="form-control w-50" name="search" style="border-radius: 0px 5px 5px 0px; !important;max-width: 250px" placeholder="جستجو">
                                            <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو </button>
                                        </div>
                                    </form>
                                    <div class="card-body p-0">
                                        <table class="table table-condensed">
                                            <tbody>
                                            <tr>
                                                <th class="text-center" style="width: 5%">id</th>
                                                <th class="text-center" style="width: 20%">عنوان</th>
                                                <th class="text-center" style="width: 10%">#</th>
                                            </tr>
                                            @{
                                                if (features.Count < 1)
                                                {
                                                    <tr>
                                                        <td>
                                                            یافت نشد
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    foreach (var i in features)
                                                    {
                                                        <tr>
                                                            <td class="text-center">@i.Id</td>
                                                            <td class="text-center">@i.Title</td>
                                                            <td class="text-center">
                                                                <span class="badge bg-warning text-muted">ویرایش</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }


                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>


                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Modal -->
<div class="modal fade exampleModal " id="CatDetail" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <form class="modal-content" asp-action="UpdateCategoryDetail" asp-controller="Admin" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش محصول</h5>
                <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="idP" id="idP" required="required" name="Id" hidden="hidden">
                <div class="d-flex justify-content-between">
                    <div class="input-group p-3  m-2 w-50">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">عنوان</span>
                        <input type="text" id="TitleCatDetail" style="border-radius: 5px 0px 0px 5px;" class="form-control TitleCatDetail " required="required" name="title">
                    </div>
                    <div class="form-group  d-flex flex-column w-50">
                        <label for="exampleInputPassword1 " class="mb-0">نوع زیر دسته </label>
                        <select style="min-width: 200px;" name="subCatId" id="SubCatId" class="form-select SubCatId" aria-label="Default select example" readonly disabled="disabled">
                            @{
                                foreach (var i in subCategories)
                                {
                                    <option value="@i.Id">@i.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group p-3  d-flex flex-column w-50">
                        <label for="exampleInputPassword1 " class="mb-0">نوع ویژگی </label>
                        <select style="min-width: 200px;" name="featureId" id="FeatureId" class="form-select FeatureId" aria-label="Default select example">
                            @{
                                foreach (var i in features)
                                {
                                    <option value="@i.Id">@i.Title</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-check w-50 mt-4">
                        @Html.CheckBox("isSearchCatDetail", new { @name = "isSearchCatDetail" })
                        <label class="form-check-label">نمایش در جستجو</label>
                    </div>
                </div>

                <div class="form-group d-flex justify-content-between ">
                    <div class="form-group me-3  d-flex flex-column w-50">
                        <label for="exampleInputPassword1">نوع اطلاعات</label>
                        <select name="dataType" id="DataType" class="form-select DataType" aria-label="Default select example">
                            <option selected value="0">متن کوتاه</option>
                            <option value="1">چند گزینه ای</option>
                            <option value="2">متن بلند</option>
                            <option value="3">CheckBox</option>
                        </select>
                    </div>
                    <div class="input-group m-3 p-3  w-50">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="OpDiv">قابلیت ها</span>
                        <textarea type="text" id="Option" style="border-radius: 5px 0px 0px 5px;height: 35px" class="form-control Option"  name="Option"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <button type="submit" class="btn btn-primary">ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>

@section script{

    <script>
    $(document).ready(function () {
      
        $('#DataType').on('change', function() {
            var dataType = $(this).val();
            if (dataType==1){
                $("#OpDiv").css("display","block");
                $("#Option").css("display","block");
            }else{
                $("#Option").css("display","none");
                $("#OpDiv").css("display","none");
            }
        });
        $('#DataTypeInp').on('change', function() {
            if ($(this).val() == '1' || $('#DataTypeInp').val() == '3') {
                $('#OptionInp').show();
                $('#FlexDataType').addClass("justify-content-between");
                $('#FlexDataType').removeClass("justify-content-start gap-4");
            } else {
                $('#OptionInp').hide();
                $('#FlexDataType').addClass("justify-content-start gap-4");
                $('#FlexDataType').removeClass("justify-content-between");
            }
        });

        // Initial check to set the correct visibility based on the default selected value
        if ($('#DataTypeInp').val() == '1' || $('#DataTypeInp').val() == '3') {
            $('#OptionInp').show();
            $('#FlexDataType').addClass("justify-content-between");
            $('#FlexDataType').removeClass("justify-content-start gap-4");
        } else {
            $('#OptionInp').hide();
            $('#FlexDataType').addClass("justify-content-start gap-4");
            $('#FlexDataType').removeClass("justify-content-between");
        }
        $(".catDetail").click(function () {
            var currentrow = $(this).closest("form");

            $(".idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#TitleCatDetail").val(currentrow.find($("input.mTitleCatDetail[type=text]")).val());
            $("#SubCatId").val(currentrow.find($("input.mSubCatId[type=text]")).val());
            $('#FeatureId').val(currentrow.find($("input.mFeatureId[type=text]")).val());
            var val = currentrow.find($("input.misSearchCatDetail[type=text]")).val();
            document.getElementById('isSearchCatDetail').checked = val === 'True';
            
            $("#DataType").val(currentrow.find($("input.mDataType[type=text]")).val());
            var dataType=currentrow.find($("input.mDataType[type=text]")).val();
            if (dataType == 1 || dataType == 3){
                $("#OpDiv").css("display","block");
                $("#Option").css("display","block");
                $("#Option").val(currentrow.find($("input.mOption[type=text]")).val()).change();
        }else{
                $("#Option").css("display","none");
                $("#OpDiv").css("display","none");
        }
        });
    });
</script>
}