@using Domain.Entity.IndexPage
@{
Layout = null;
SeoPage seoPage = ViewBag.Seo;

}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>

    <!-- font---------------------------------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/materialdesignicons.css">
    <!-- plugin------------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="/css/notiflix.css">
    <link rel="stylesheet" href="/css/sweetalert.css">
    <!-- main-style--------------/assetsCli-------------->
    <link rel="stylesheet" href="/assetsCli/css/main.css">
</head>
<body>

<!-- login----------------------------------->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <div class="account-box">
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <div  class="d-flex justify-content-between" style="gap:10px ">
                                  <a href="@Url.Action("Login","Home")">      <img src="/assetsCli/images/right-arrow.png" width="40"/></a>
                                        <a href="@Url.Action("Index", "Home")">
                                            <img src="http://newdev.parsme.com/Images/Banner/@seoPage.HeaderLogo"/>
                                        </a>
                                        <img/>
                                    </div>
                                    <div class="message-light">
                                        <div class="massege-light-send">
                                            کد تایید برای شماره <span style="color: #ff2828">@ViewBag.Phone</span> پیامک شد
                                         
                                            <input type="text" value="@ViewBag.Phone" hidden="hidden" id="PhoneNumber">
                                        </div>
                                        <div class="account-box-verify-content">
                                            <div class="form-account">
                                                <div class="form-account-title">کد تایید را وارد کنید</div>
                                                <div class="form-account-row">
                                                    <div class="lines-number-input">
                                                        <input type="text" class="line-number-account" maxlength="1">
                                                        <input type="text" class="line-number-account" maxlength="1">
                                                        <input type="text" class="line-number-account" maxlength="1">
                                                        <input type="text" class="line-number-account" maxlength="1">
                                                        <input type="text" class="line-number-account" maxlength="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-account-row">
                                            <div class="receive-verify-code">
                                                <p id="countdown-verify-end"><span class="hour">00</span><span>: 02</span><span>1</span>
                                                    <i class="fa fa-clock-o"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="account-footer">
                                            <div class="account-footer">
                                                <div class="form-row-account">
                                                    <button class="btn btn-primary" type="button" onclick="Login()">ورود به پارس می</button>
                                                </div>
                                                <div class="form-edit-number">
                                                    <a href="@Url.Action("Login","Home")" class="edit-number-link">ویرایش شماره</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- login----------------------------------->

<!-- scroll_Progress------------------------->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- scroll_Progress------------------------->

</body>

<!-- file js---------------------------------------------------->
<script src="/assetsCli/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assetsCli/js/vendor/bootstrap.js"></script>
<!-- plugin--/assetsCli--------------------------------------------->
<script src="/assetsCli/js/vendor/countdown.min.js"></script>
<script src="/assetsCli/js/vendor/owl.carousel.min.js"></script>
<script src="/js/Notiflix.js"></script>
<script src="/js/sweetalert.js"></script>
<!-- main js-/assetsCli--------------------------------------------->
<script src="/assetsCli/js/main.js"></script>
<script>
    function Login() {
        // ترکیب مقادیر ورودی‌های کد
        const inputs = document.querySelectorAll('.line-number-account');
        let compressedString = '';
        inputs.forEach(input => {
            compressedString += input.value;
        });

        // ارسال درخواست AJAX
        $.ajax({
            type: "POST",
            url: "/Home/ValidateCode/",
            data: {
                phoneNumber: $('#PhoneNumber').val(),
                code: compressedString
            },
            beforeSend: function () {
                // نمایش پیام بارگذاری
                Notiflix.Loading.circle('در حال پردازش ...');
            },
            success: function (data) {
                if (data.isSuccess) {
                    // نمایش پیام موفقیت
                    Notiflix.Notify.success('عملیات با موفقیت انجام شد');
                    showAlertSuccess();
                    // انتقال به صفحه مورد نظر
                    window.location.href = `@Url.Action("Profile", "Home")`;
                } else {
                    // نمایش پیام خطای قابل مدیریت
                    Notiflix.Notify.failure('خطا در اجرای عملیات');
                    showAlertErrorProd(data.message);
                }
            },
            error: function () {
                // نمایش پیام خطای عمومی
                showAlertError();
            },
            complete: function () {
                // حذف پیام بارگذاری
                Notiflix.Loading.remove();
            }
        });
    }

    // پیام‌های موفقیت و خطا
    function showAlertSuccess() {
        Swal.fire({
            title: 'موفق',
            text: 'عملیات موفقیت آمیز',
            icon: 'success',
            confirmButtonText: 'بستن'
        });
    }

    function showAlertError() {
        Swal.fire({
            title: 'خطا',
            text: 'خطای داخلی در سرور',
            icon: 'error',
            confirmButtonText: 'بستن'
        });
    }

    function showAlertErrorProd(message) {
        Swal.fire({
            title: 'خطا',
            text: message,
            icon: 'error',
            confirmButtonText: 'بستن'
        });
    }
    function ResendCode(){
        window.location.href = `@Url.Action("ResendCode", "Home",new{phoneNumber=ViewBag.Phone})`;
    }

</script>
</html>