@using Application.Common.Utilities
@using Domain.Entity.IndexPage
@using Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.Models

@{
Layout = "_Layout";
List<Category> categories = ViewBag.Categories;
List<Product> basket = ViewBag.BasketProd;
Domain.Entity.User.User user = ViewBag.User;
List<SearchResult> searchResults = ViewBag.Search as List<SearchResult>;
FooterPage pages = ViewBag.Pages;
}


@section link
{
<!-- font---------------------------------------->
<link rel="stylesheet" href="/assetsCli/css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="/assetsCli/css/vendor/materialdesignicons.css">
<!-- plugin------------------/assetsCli-------------->
<link rel="stylesheet" href="/assetsCli/css/vendor/bootstrap.css">
<link rel="stylesheet" href="/assetsCli/css/vendor/owl.carousel.min.css">
<link rel="stylesheet" href="/assetsCli/css/vendor/noUISlider.min.css">
<link rel="stylesheet" href="/assetsCli/css/vendor/lightgallery.css">
<link rel="stylesheet" href="/assetsCli/css/vendor/nice-select.css">
<!-- main-style--------------/assetsCli-------------->
<link rel="stylesheet" href="/assetsCli/css/main.css">
<link rel="stylesheet" href="/assetsCli/css/responsive.css">

}
@section meta
{
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
<meta name="description" content=@Html.Raw(pages.SeoParsConsultationBeforePurchaseDesc)/>
<link rel="canonical" href=@pages.SeoParsConsultationBeforePurchaseCanonical/>
<meta property="og:locale" content="fa_IR"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content=@Html.Raw(pages.SeoParsConsultationBeforePurchaseTitle)/>
<meta property="og:description" content=@Html.Raw(pages.SeoParsConsultationBeforePurchaseDesc)/>
<meta property="og:url" content="https://parsme.com"/>
<meta property="og:site_name" content=@Html.Raw(pages.SeoParsConsultationBeforePurchaseTitle)/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="760"/>
<meta property="og:image:type" content="image/jpeg"/>
}

@section Header{
<header class="header-main">
    <div class="d-block">
        <section class="h-main-row">
            <div class="col-lg-9 col-md-12 col-xs-12 pr">
                <div class="header-right">
                    <div class="col-lg-3 pr">
                        <div class="header-logo row text-right">
                            <a href="@Url.Action("Index")">
                                <img src="/Images/Banner/parsme-logo.png" alt="پارس می">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 pr">
                        <div class="header-search row text-right">
                            <div class="header-search-box">
                                <form asp-action="search" asp-controller="home" method="post" class="form-search">
                                    <input type="search" class="header-search-input" name="search"
                                           placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                    <div class="action-btns">
                                        <button class="btn btn-search" type="submit">
                                            <img src="/assetsCli/images/search.png" alt="search">
                                        </button>
                                    </div>
                                </form>
                                @{
                                if (searchResults.Any())
                                {
                                <div class="search-result">
                                    <ul class="search-result-list mb-0">
                                        @{
                                        foreach (var i in searchResults)
                                        {
                                        <li>
                                            <a href="@i.Href">
                                                <i class="mdi mdi-clock-outline"></i>
                                                @i.Value
                                                <a class="btn btn-light btn-continue-search" href="@i.Href">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </a>
                                        </li>
                                        }
                                        }

                                    </ul>
                                    <div class="localSearchSimple"></div>
                                </div>
                                }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-0 col-xs-12 pl">
                <div class="header-left">
                    <div class="header-account text-left">
                        <div class="d-block">
                            <div class="account-box">
                                <div class="nav-account d-block pl">
                                <span class="icon-account">
                                    <img src="/assetsCli/images/man.png" class="avator">
                                </span>
                                    <span class="title-account">حساب کاربری</span>
                                    <div class="dropdown-menu">
                                        <ul class="account-uls mb-0">
                                            <li class="account-item">
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                <a href="@Url.Action("Profile", "Home")" class="account-link">پنل کاربری</a>
                                                }
                                                else
                                                {
                                                <a href="@Url.Action("Login", "Home")" class="account-link">عضویت/ورود</a>
                                                }
                                            </li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                            <li class="account-item">
                                                <a href="@Url.Action("Logout")" class="account-link">خروج</a>
                                            </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <nav class="header-main-nav">
            <div class="d-block">
                <div class="align-items-center">
                    <ul class="menu-ul mega-menu-level-one">
                        @{
                        foreach (var i in categories)
                        {
                        <li id="nav-menu-item" class="menu-item nav-overlay">

                            <a class="current-link-menu">
                                <img src="https://newdev.parsme.com/Images/Category/@i.LogoUri" alt="menu" width="22px">
                                @i.Name
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="sub-menu is-mega-menu mega-menu-level-two">
                                @foreach (var q in i.SubCategories)
                                {
                                <li class="menu-mega-item menu-item-type-mega-menu">
                                    <a href="@Url.Action("SubCategory", "Home", new { subCategoryId = q.Id })" class="mega-menu-link">
                                        @q.Name
                                    </a>
                                    <ul class="sub-menu mega-menu-level-three">
                                        @foreach (var b in q.Brands)
                                        {
                                        <li class="menu-mega-item-three">
                                            <a href="@Url.Action("GetByBrand", "Home", new { b.Id })">
                                                @b.Title
                                            </a>
                                        </li>
                                        }
                                    </ul>
                                </li>
                                }

                            </ul>
                        </li>
                        }

                        <li id="nav-menu-item" class="menu-item ">
                            <a href="@Url.Action("AboutUs")" class="current-link-menu">
                                درباره ما
                            </a>

                        </li>
                        <li id="nav-menu-item" class="menu-item ">
                            <a href="@Url.Action("Faq")" class="current-link-menu">
                                سوالات متداول
                            </a>

                        </li>
                        <li id="nav-menu-item" class="menu-item ">
                            <a href="@Url.Action("ContactUs")" class="current-link-menu">
                                تماس با ما
                            </a>

                        </li>
                        }
                        @{
                        double price = 0;
                        double offer = 0;
                        foreach (var i in basket)
                        {
                        @if (i.IsOffer)
                        {
                        if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                        {
                        offer += i.Offer.OfferAmount;
                        price += @i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault(x => x.ColorId == i.Offer.ColorId).Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer);
                        }
                        else
                        {
                        offer += i.DiscountAmount;
                        price += @i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                        }
                        }
                        else
                        {
                        offer += i.DiscountAmount;
                        price += @i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                        }
                        }
                        }
                        <li class="divider-space-card">
                            <div class="header-cart-basket">
                                <a href="@Url.Action("Basket", "Home")" class="cart-basket-box">
                                <span class="icon-cart">
                                    <i class="mdi mdi-shopping"></i>
                                </span>
                                    <span class="title-cart">سبد خرید</span>
                                    <span class="price-cart">
                                    @price.ToString("N0")
                                        <span>تومان</span>
                                </span>
                                    <span class="count-cart">@basket.Count</span>
                                </a>
                                @{
                                List<BasketProduct> products = new List<BasketProduct>();
                                foreach (var q in basket)
                                {
                                if (products.Any(x => x.ProductColors.FirstOrDefault().Id == q.ProductColors.FirstOrDefault().Id))
                                {
                                products.FirstOrDefault(x => x.ProductColors.FirstOrDefault().Id == q.ProductColors.FirstOrDefault().Id).Count++;
                                }
                                else
                                {
                                products.Add(new BasketProduct
                                {
                                SubCategoryId = q.SubCategoryId,
                                ProductStatus = q.ProductStatus,
                                ProductColors = q.ProductColors.ToList(),
                                InsertDate = q.InsertDate,
                                Count = 1,
                                Code = q.Code,
                                DiscountAmount = q.DiscountAmount,
                                Detail = q.Detail,
                                Strengths = q.Strengths,
                                Title = q.Title,
                                BrandId = q.BrandId,
                                ImageUri = q.ImageUri,
                                FullDesc = q.FullDesc,
                                InterestRate = q.InterestRate,
                                IsOffer = q.IsOffer,
                                IsActive = q.IsActive,
                                MetaKeyword = q.MetaKeyword,
                                MomentaryOffer = q.MomentaryOffer,
                                PersianTitle = q.PersianTitle,
                                ProductGift = q.ProductGift,
                                WeakPoints = q.WeakPoints,
                                IsShowIndex = q.IsShowIndex,
                                Id = q.Id,
                                Offer = q.Offer
                                });
                                }
                                }
                                }
                                @if (basket.Count > 0)
                                {
                                <div class="widget-shopping-cart">
                                    <div class="widget-shopping-cart-content">
                                        <div class="wrapper">
                                            <div class="scrollbar" id="style-1">
                                                <div class="force-overflow">
                                                    <ul class="product-list-widget">
                                                        @{
                                                        if (products.Count > 0)
                                                        {
                                                        @foreach (var i in products)
                                                        {
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                <a href="@Url.Action("RemoveInBasket", "Home", new { i.ProductColors.FirstOrDefault().Id })" class="mini-cart-item-close">
                                                                    <i class="mdi mdi-close"></i>
                                                                </a>
                                                                <a href="@Url.Action("RemoveInBasket", "Home", new { i.ProductColors.FirstOrDefault().Id })" class="mini-cart-item-image d-block" style="top: 0">
                                                                    <img src="https://newdev.parsme.com/Images/ProductImage/@i.ImageUri">
                                                                </a>
                                                                <span class="product-name-card">
                                                                                @i.PersianTitle
                                                                            </span>
                                                                <div class="header-basket-list-item-color-badge">
                                                                    رنگ:
                                                                    <span style="background: @i.ProductColors.FirstOrDefault().Color.ColorCode"></span>
                                                                </div>
                                                                <div class="quantity">
                                                                                <span class="quantity-Price-amount">
                                                                                    
                                                                                    <span> تعداد:@i.Count</span>
                                                                                </span>
                                                                </div>
                                                                <div class="quantity">
                                                                                <span class="quantity-Price-amount">
                                                                                    @{
                                                                                    var priceBasket = new double();
                                                                                    if (i.IsOffer)
                                                                                    {
                                                                                    if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                                                                                    {
                                                                                    priceBasket = i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault(x => x.ColorId == i.Offer.ColorId).Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer);
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                    priceBasket = i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                                                                                    }
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                    priceBasket = i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                                                                                    }

                                                                                    priceBasket = priceBasket * i.Count;
                                                                                    }
                                                                                    @priceBasket.ToString("N0")
                                                                                    <span>تومان</span>
                                                                                </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        }
                                                        }
                                                        else
                                                        {
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                        <span class="product-name-card">
                                                                            سبد خالی
                                                                        </span>

                                                            </div>
                                                        </li>
                                                        }
                                                        }


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mini-card-total">
                                            <strong>قیمت کل : </strong>
                                            <span class="price-total">
                                                @price.ToString("N0")
                                                <span>تومان</span>
                                            </span>
                                        </div>
                                        <div class="mini-card-button">
                                            <a href="@Url.Action("Basket", "Home")" class="view-card">مشاهده سبد خرید</a>
                                        </div>
                                    </div>
                                </div>
                                }

                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--    responsive-megamenu-mobile----------------->
        <nav class="sidebar">
            <div class="nav-header">
                <div class="header-cover"></div>
                <div class="logo-wrap">
                    <a class="logo-icon" href="@Url.Action("Index")">
                        <img alt="logo-icon" src="/Images/Banner/parsme-logo.png" width="40">
                    </a>
                </div>
            </div>
            <ul class="nav-categories ul-base">
                @{
                foreach (var c in categories)
                {
                <li>
                    <a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapse`@c.Id`"
                       aria-expanded="false" aria-controls="collapse`@c.Id`">
                        <i class="mdi mdi-chevron-down"></i>@c.Name
                    </a>
                    <div id="collapse`@c.Id`" class="collapse" aria-labelledby="heading`@c.Id`"
                         data-parent="#accordionExample" style="">
                        <ul>
                            @foreach (var s in c.SubCategories)
                            {
                            <li class="has-sub">
                                <a href="@Url.Action("Search", "Home", new { @s.Name })" class="category-level-2">@s.Name</a>
                                <ul>
                                    @foreach (var b in s.Brands)
                                    {
                                    <li>
                                        <a href="@Url.Action("GetByBrand", "Home", new { b.Id })" class="category-level-3">@b.Title</a>
                                    </li>
                                    }

                                </ul>
                            </li>
                            }
                        </ul>
                    </div>
                </li>
                }
                }
            </ul>
        </nav>
        <div class="nav-btn nav-slider">
            <span class="linee1"></span>
            <span class="linee2"></span>
            <span class="linee3"></span>
        </div>
        <div class="overlay"></div>
        <!-- bottom-menu-joomy -->
        <div class="bottom-menu-joomy">
            <ul class="mb-0">
                <li>
                    <a href="@Url.Action("Index")">
                        <i class="mdi mdi-home"></i>
                        صفحه اصلی
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="nav-btn nav-slider">
                            <i class="mdi mdi-menu" aria-hidden="true"></i>
                        </div>
                        دسته بندی ها
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Basket")">
                        <i class="mdi mdi-cart"></i>
                        سبد خرید
                        <div class="shopping-bag-item">@basket.Count</div>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="mdi mdi-magnify"></i>
                        جستجو
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                <li>
                    <a href="@Url.Action("Profile")">
                        <i class="mdi mdi-account"></i>
                        حساب کاربری
                    </a>
                </li>
                }

            </ul>
        </div>
        <!--    responsive-megamenu-mobile----------------->
    </div>
</header>

}

<div class="container-main">
    <div class="col-12">
        <div id="content">
            <div class="about">
                <div class="about-us-head">
                    <div class="about-us-head-inner">
                        @Html.Raw(pages.SeoParsConsultationBeforePurchaseTitle)
                    </div>
                </div>
                <div class="page-content-about">
                    @Html.Raw(pages.ParsConsultationBeforePurchaseDesc)
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
<script src="/assetsCli/js/vendor/jquery-3.2.1.min.js"></script>
<script src="/assetsCli/js/vendor/bootstrap.js"></script>
<!-- plugin--/assetsCli--------------------------------------------->
<script src="/assetsCli/js/vendor/owl.carousel.min.js"></script>
<script src="/assetsCli/js/vendor/jquery.countdown.js"></script>
<script src="/assetsCli/js/vendor/lightgallery-all.js"></script>
<script src="/assetsCli/js/vendor/jquery.ez-plus.js"></script>
<script src="/assetsCli/js/vendor/jquery.nice-select.min.js"></script>
<!-- main js-/assetsCli--------------------------------------------->
<script src="/assetsCli/js/main.js"></script>
}