@using Application.Common.Utilities
@using Domain.Entity.IndexPage
@using Domain.Entity.Product
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApp.Models
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
    List<Product> products = ViewBag.Products;
    List<CategoryDetail> categoryDetails = ViewBag.CatDetail;
    List<Product> maxPrice = products
        .OrderBy(x => x.ProductColors.Min(pc => pc.Price))
        .ThenByDescending(x => x.ProductColors.Max(pc => pc.Price))
        .ToList();
    maxPrice.Reverse();
    List<Product> minPrice = products
        .OrderBy(x => x.ProductColors.Min(pc => pc.Price))
        .ToList();
    List<Product> basket = ViewBag.BasketProd;
    List<MainCategory> categories = ViewBag.Categories;
    List<SubCategory> subCategories = ViewBag.SubCats;
    List<Brand> brands = ViewBag.Brand;
    List<SearchResult> searchResults = ViewBag.Search;
    FooterLink footerLink = ViewBag.FooterLink;
    SeoPage seoPage = ViewBag.SeoPage;
    int pageSize = ViewBag.Page;
    int id = ViewBag.Id;
    List<string> details = ViewBag.Values;
}

@section footer
{
    <footer style="z-index: 10;" class="footer-main-site">
    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
        <div class="footer-shopping-social">
            <div class="row">
                <div
                    class="col-7 d-flex justify-content-start justify-content-sm-between justify-content-md-start justify-content-lg-start">
                    <div class="logo text-start p-2">
                        <a href="@Url.Action("Index", "Home")">
                            <img src="/Images/Banner/@seoPage.HeaderLogo" alt="پارس می">
                        </a>
                    </div>
                    <div class="text-start p-2">
                        <h6 class="text-muted p-2 fw-bold">
                            @seoPage.NavNameComp
                        </h6>
                    </div>
                </div>
                <div class="col-5 align-content-center text-end" style="text-align: end">
                    <button type="button" id="backtotop" class="btn btn-outline-danger fw-bold">
                        بازگشت به
                        بالا
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="d-block d-xl-block d-lg-block d-md-block d-sm-block order-1">
    <div class="container-fluid">
    <div class="col-12">
    <div class="footer-middlebar">
    <div class="col-lg-8 d-block pr">
        <div class="footer-links">
            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                <div class="row">
                    <section class="footer-links-col">
                        <div class="headline-links">
                            <a href="#" class="text-decoration-none fw-bold">
                                @footerLink.DescCol
                            </a>
                        </div>
                        <ul class="footer-menu-ul">
                            <li class="p-2">
                                <a href="@footerLink.HrefCol1" class="text-decoration-none fw-bold">
                                    @footerLink.TitleCol1
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href1Col1" class="text-decoration-none fw-bold">
                                    @footerLink.Title1Col1
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href2Col1" class="text-decoration-none fw-bold">
                                    @footerLink.Title2Col1
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href3Col1" class="text-decoration-none fw-bold">
                                    @footerLink.Title3Col1
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                <div class="row">
                    <section class="footer-links-col">
                        <div class="headline-links">
                            <a href="#" class="text-decoration-none fw-bold">
                                @footerLink.DescCol2
                            </a>
                        </div>
                        <ul class="footer-menu-ul">
                            <li class="p-2">
                                <a href="@footerLink.HrefCol2" class="text-decoration-none fw-bold">
                                    @footerLink.TitleCol2
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href1Col2" class="text-decoration-none fw-bold">
                                    @footerLink.Title1Col2
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href2Col2" class="text-decoration-none fw-bold">
                                    @footerLink.Title2Col2
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href3Col2" class="text-decoration-none fw-bold">
                                    @footerLink.Title3Col2
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                <div class="row">
                    <section class="footer-links-col">
                        <div class="headline-links">
                            <a href="#" class="text-decoration-none fw-bold">
                                @footerLink.DescCol3
                            </a>
                        </div>
                        <ul class="footer-menu-ul">
                            <li class="p-2">
                                <a href="@footerLink.HrefCol3" class="text-decoration-none fw-bold">
                                    @footerLink.TitleCol3
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href1Col3" class="text-decoration-none fw-bold">
                                    @footerLink.Title1Col3
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@footerLink.Href2Col3" class="text-decoration-none fw-bold">
                                    @footerLink.Title2Col3
                                </a>
                            </li>
                            <li>

                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 pr">
                <div class="row">
                    <section class="footer-links-col">
                        <div class="headline-links">
                            <a href="#" class="text-decoration-none fw-bold">
                                درباره پارس می
                            </a>
                        </div>
                        <ul class="footer-menu-ul">
                            <li class="p-2">
                                <a href="@Url.Action("ContactUs", "Home")" class="text-decoration-none fw-bold">
                                    تماس با ما
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@Url.Action("Faq", "Home")" class="text-decoration-none fw-bold">
                                    سوالات متداول
                                </a>
                            </li>
                            <li class="p-2">
                                <a href="@Url.Action("AboutUs", "Home")" class="text-decoration-none fw-bold">
                                    درباره ما
                                </a>
                            </li>
                            <li>

                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-column pl">
        <div class="footer-populated text-right p-2">
            <div class="footer-social d-flex justify-content-between">
                <h5 class="footer-populated-title fw-bold">ما را دنبال کنید</h5>
                <ul style="    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin: 3px;
    padding: 5px;">
                    <li>
                        <a href="#">
                            <i class="fa fa-whatsapp" style="font-size: 30px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-telegram" style="font-size: 30px"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram" style="font-size: 30px"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="footer-populated text-right p-2">
            <div class="footer-social d-flex flex-column">
                <a class="fw-bold p-2" href="tel:@seoPage.HeaderNumber">
                    تماس: @seoPage.HeaderNumber
                </a>
                <a href="mailto:@seoPage.EmailComp" class="fw-bold p-2">
                    ایمیل: @seoPage.EmailComp
                </a>
            </div>
        </div>
    </div>
    <div class="footer-more-info">
        <div class="col-lg-10 pr">
            <div class="footer-content d-block">
                <div class="text pr-1 p-2">
                    <h2 class="title fw-bold">فروشگاه اینترنتی پارس می</h2>
                    <p class="desc fw-bold">@footerLink.DescFooter</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 pl">
            <div class="footer-safety-partner">
                <div class="widget widget-product card mb-0">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a referrerpolicy="origin" target="_blank"
                               href="https://trustseal.enamad.ir/?id=439864&amp;Code=sSj8qYvbSfqRgs7XwLkHhMDTJsvfcml2">
                                <img referrerpolicy="origin"
                                     src="https://trustseal.enamad.ir/logo.aspx?id=439864&amp;Code=sSj8qYvbSfqRgs7XwLkHhMDTJsvfcml2"
                                     alt="" style="cursor:pointer"
                                     code="sSj8qYvbSfqRgs7XwLkHhMDTJsvfcml2" width="70">
                            </a>
                        </div>
                        <div>
                            <img referrerpolicy='origin' id='rgvjjzpejxlzfukzjzpefukz'
                                 style='cursor:pointer'
                                 onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=371676&p=xlaojyoerfthgvkajyoegvka", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")'
                                 alt='logo-samandehi'
                                 src='https://logo.samandehi.ir/logo.aspx?id=371676&p=qftiyndtnbpdwlbqyndtwlbq' width="70"/>

                        </div>
                    </div>
                    <div
                        class="product-carousel-symbol owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                                <div class="owl-item active"
                                     style="width: 300.75px; margin-left: 10px;">
                                    <div class="item">


                                    </div>
                                </div>
                                <div class="owl-item active"
                                     style="width: 300.75px; margin-left: 10px;">
                                    <div class="item">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright-text">
                <p class="p-3 fw-bold">تمامی مطالب، عکس ها و... متعلق به سایت فروشگاهی پارس می می باشد.</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    </footer>

}

@section Header{
    @{
        double price = 0;
        double offer = 0;
        foreach (var i in basket)
        {
            @if (i.IsOffer)
            {
                if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                {
                    offer += i.Offer.OfferAmount;
                    price += @i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault(x => x.ColorId == i.Offer.ColorId).Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer);
                }
                else
                {
                    offer += i.DiscountAmount;
                    price += @i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                }
            }
            else
            {
                offer += i.DiscountAmount;
                price += @i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
            }
        }
    }
    <header class="header-main">
    <div class="d-block">
    <section class="h-main-row" style="margin-top: 0">
        @if (seoPage.ShowTopBanner)
        {
            <div class="col-12 p-0">
                <img style="width: 100%;    height: 100px;    object-fit: cover"
                     src="http://newdev.parsme.com/Images/Banner/@seoPage.TopBanner"/>
            </div>
        }
        <div class="col-lg-9 col-md-12 col-xs-12 pr">
            <div class="header-right">

                <div
                    class="col-lg-3 pr d-flex flex-md-row flex-row flex-lg-column flex-sm-row gap-2 justify-content-between align-content-start">
                    <div class="header-logo row text-right">
                        <a href="@Url.Action("Index")">
                            <img src="http://newdev.parsme.com/Images/Banner/@seoPage.HeaderLogo" alt="پارس می">
                        </a>
                    </div>
                    <div>
                        <p class="text-muted fw-bold" style="    margin: 0;
    font-size: 14px;
    margin-top: 17px;">
                            @seoPage.NavNameComp
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 pr pt-md-4 pt-lg-4 pt-sm-0 pt-0">
                    <div class="header-search row text-right">
                        <div class="header-search-box">
                            <form asp-action="search" asp-controller="home" method="post" class="form-search">
                                <input id="SearchEl" type="search" class="header-search-input EnFont" name="search"
                                       placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                <div class="action-btns">
                                    <button class="btn btn-search" type="submit">
                                        <img src="/assetsCli/images/search.png" alt="search">
                                    </button>
                                </div>
                            </form>
                            @{
                                if (searchResults.Any())
                                {
                                    <div class="search-result">
                                        <ul class="search-result-list mb-0" id="SearchResult">
                                            @{
                                                foreach (var i in searchResults)
                                                {
                                                    <li>
                                                        <a href="@i.Href">
                                                            <i class="mdi mdi-clock-outline"></i>
                                                            @i.Value
                                                            <a class="btn btn-light btn-continue-search" href="@i.Href">
                                                                <i class="fa fa-angle-left"></i>
                                                            </a>
                                                        </a>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                        <div class="localSearchSimple"></div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-0 col-xs-12 pl">


        </div>
    </section>

    <nav class="header-main-nav" id="Hedear">
    <section id="encrypt231432">
    <div id="main-nav">
    <div class="container-fluid">
    <div class="row ">
    <div class="col-9">
        <div class="encrypt233211 dmarrow-down droopmenu-horizontal dmpos-top dmfade">
            <div class="droopmenu-inner" style="padding: 10px;">
                <div class="droopmenu-encrypt231432">
                    <a href="#" class="droopmenu-toggle">
                        <i class="dm-burg"></i>
                    </a>
                    @* <span class="d-md-none">منوی فروشگاه</span> *@
                </div>
                <!-- encrypt231432 Mega Menu-->
                <div class="droopmenu-nav">
                    <div class="droopmenu-nav-wrap">
                        <div class="droopmenu-navi">
                            <ul class="droopmenu">
                                @{
                                    foreach (var i in categories)
                                    {
                                        <li>
                                            <a href="#" class="fw-bold">
                                                @* <img *@
                                                @*     src="https://newdev.parsme.com/Images/Category/@i.LogoUri" *@
                                                @*     width="22px"/> *@
                                                @i.Name
                                            </a>
                                            <div class="dm-arrow"></div>
                                            <ul class="droopmenu-grid droopmenu-grid-10">
                                                @{
                                                    <li class="droopmenu-tabs droopmenu-tabs-vertical">
                                                        @{
                                                            var index = 0;
                                                            foreach (var c in i.Categories)
                                                            {
                                                                var id = "droopmenutab" + index.ToString();
                                                                if (index == 0)
                                                                {
                                                                    <div class="encrypt111212132 droopmenu-tab-active"
                                                                         id="@id">
                                                                        <a class="droopmenu-tabencrypt231432"
                                                                           href="#">
                                                                            @c.Name
                                                                        </a>
                                                                        <div class="encrypt234324311">
                                                                            <div class="droopmenu-row">
                                                                                @{
                                                                                    foreach (var s in c.SubCategories)
                                                                                    {
                                                                                        <ul class="droopmenu-col droopmenu-col3">
                                                                                            <li>
                                                                                                <a href="@Url.Action("SubCategory", "Home", new { s.Id })">
                                                                                                    <h4>@s.Name</h4>
                                                                                                </a>
                                                                                            </li>
                                                                                            @foreach (var b in s.Brands)
                                                                                            {
                                                                                                <li>
                                                                                                    <a href="@Url.Action("GetByBrand", "Home", new { b.Id })">@b.Title</a>
                                                                                                </li>
                                                                                            }
                                                                                        </ul>
                                                                                    }
                                                                                }

                                                                                @* <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block"> *@
                                                                                @*     <li> *@
                                                                                @*         <img src="assets/images/megamenu/megamenu-image1.png" alt=""> *@
                                                                                @*     </li> *@
                                                                                @* </ul> *@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="encrypt111212132" id="@id">
                                                                        <a class="droopmenu-tabencrypt231432"
                                                                           href="#">
                                                                            @c.Name
                                                                        </a>
                                                                        <div class="encrypt234324311">
                                                                            <div class="droopmenu-row">
                                                                                @{
                                                                                    foreach (var s in c.SubCategories)
                                                                                    {
                                                                                        <ul class="droopmenu-col droopmenu-col3">
                                                                                            <li>
                                                                                                <a href="@Url.Action("SubCategory", "Home", new { s.Id })">
                                                                                                    <h4>@s.Name</h4>
                                                                                                </a>
                                                                                            </li>
                                                                                            @foreach (var b in s.Brands)
                                                                                            {
                                                                                                <li>
                                                                                                    <a href="@Url.Action("GetByBrand", "Home", new { b.Id })">@b.Title</a>
                                                                                                </li>
                                                                                            }
                                                                                        </ul>
                                                                                    }
                                                                                }

                                                                                @* <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block"> *@
                                                                                @*     <li> *@
                                                                                @*         <img src="assets/images/megamenu/megamenu-image1.png" alt=""> *@
                                                                                @*     </li> *@
                                                                                @* </ul> *@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                                index++;
                                                            }
                                                        }
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                    }
                                }

                                @* <li> *@
                                @*     <a href="@Url.Action("AboutUs")" class="current-link-menu"> *@
                                @*         درباره ما *@
                                @*     </a> *@
                                @* </li> *@
                                @* <li> *@
                                @*     <a href="@Url.Action("Faq")" class="current-link-menu"> *@
                                @*         سوالات متداول *@
                                @*     </a> *@
                                @* </li> *@
                                <li>
                                    <a href="@Url.Action("InstallmentPage")"
                                       class="current-link-menu fw-bold">
                                        <img src="/Images/Logo/credit.png" alt="menu"
                                             width="22px">

                                        خرید اقساطی

                                    </a>
                                </li>
                                @* <li> *@
                                @*     <a href="@Url.Action("ContactUs")" class="current-link-menu"> *@
                                @*         تماس با ما *@
                                @*     </a> *@
                                @* </li> *@

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /encrypt231432 Menu Menu -->
            </div>
        </div>
    </div>
    <div class="col-3 align-items-center">
    <ul class="menu-ul mega-menu-level-one">
    <li class="divider-space-card">
    <div class="d-flex justify-content-end gap-1">
    <ul class="menu-ul mega-menu-level-one">
    <li class="divider-space-card">
    <div class="d-flex justify-content-end gap-1">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="header-left" style="width:70px ">
            <div class="header-account text-left">
                <div class="d-block">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="account-box"
                             style="padding:  4px 70px 5px 15px;">
                            <div class="nav-account d-block pl">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span class="icon-account" id="profImg">
                                        <img src="/assetsCli/images/man.png" class="avator">
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Home")"
                                       class="d-flex justify-content-center">
                                        <span class="title-account">ورود / ثبت نام</span>
                                    </a>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-menu">
                                        <ul class="account-uls mb-0">
                                            <li class="account-item">

                                                <a href="@Url.Action("Profile", "Home")"
                                                   class="account-link">
                                                    پنل کاربری
                                                </a>
                                            </li>

                                            <li class="account-item">
                                                <a href="@Url.Action("Logout")"
                                                   class="account-link">
                                                    خروج
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="account-box"
                             style="padding: 10px 15px 5px 0px">
                            <div class="nav-account d-block pl">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span class="icon-account">
                                        <img src="/assetsCli/images/man.png" class="avator">
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Home")"
                                       class="d-flex justify-content-center">
                                        <span class="title-account">ورود / ثبت نام</span>
                                    </a>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-menu">
                                        <ul class="account-uls mb-0">
                                            <li class="account-item">

                                                <a href="@Url.Action("Profile", "Home")"
                                                   class="account-link">
                                                    پنل کاربری
                                                </a>
                                            </li>

                                            <li class="account-item">
                                                <a href="@Url.Action("Logout")"
                                                   class="account-link">
                                                    خروج
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="header-left">
            <div class="header-account text-left">
                <div class="d-block">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="account-box"
                             style="padding:  4px 70px 5px 15px;">
                            <div class="nav-account d-block pl">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span class="icon-account" id="profImg">
                                        <img src="/assetsCli/images/man.png" class="avator">
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Home")"
                                       class="d-flex justify-content-center">
                                        <span class="title-account">ورود / ثبت نام</span>
                                    </a>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-menu">
                                        <ul class="account-uls mb-0">
                                            <li class="account-item">

                                                <a href="@Url.Action("Profile", "Home")"
                                                   class="account-link">
                                                    پنل کاربری
                                                </a>
                                            </li>

                                            <li class="account-item">
                                                <a href="@Url.Action("Logout")"
                                                   class="account-link">
                                                    خروج
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="account-box"
                             style="padding: 10px 15px 5px 0px">
                            <div class="nav-account d-block pl">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <span class="icon-account">
                                        <img src="/assetsCli/images/man.png" class="avator">
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.Action("Login", "Home")"
                                       class="d-flex justify-content-center">
                                        <span class="title-account">ورود / ثبت نام</span>
                                    </a>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown-menu">
                                        <ul class="account-uls mb-0">
                                            <li class="account-item">

                                                <a href="@Url.Action("Profile", "Home")"
                                                   class="account-link">
                                                    پنل کاربری
                                                </a>
                                            </li>

                                            <li class="account-item">
                                                <a href="@Url.Action("Logout")"
                                                   class="account-link">
                                                    خروج
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="header-cart-basket">
        <a href="@Url.Action("Basket", "Home")"
           class="cart-basket-box">
            <span class="icon-cart">
                <i class="mdi mdi-shopping"></i>
            </span>
            <span class="count-cart">@basket.Count</span>
        </a>
        @{
            List<BasketProduct> products = new List<BasketProduct>();
            foreach (var q in basket)
            {
                if (products.Any(x => x.ProductColors.FirstOrDefault().Id == q.ProductColors.FirstOrDefault().Id))
                {
                    products.FirstOrDefault(x => x.ProductColors.FirstOrDefault().Id == q.ProductColors.FirstOrDefault().Id).Count++;
                }
                else
                {
                    products.Add(new BasketProduct
                    {
                        SubCategoryId = q.SubCategoryId,
                        ProductStatus = q.ProductStatus,
                        ProductColors = q.ProductColors.ToList(),
                        InsertDate = q.InsertDate,
                        Count = 1,
                        DiscountAmount = q.DiscountAmount,
                        Detail = q.Detail,
                        Strengths = q.Strengths,
                        Title = q.Title,
                        BrandId = q.BrandId,
                        ImageUri = q.ImageUri,
                        FullDesc = q.FullDesc,
                        InterestRate = q.InterestRate,
                        IsOffer = q.IsOffer,
                        IsActive = q.IsActive,
                        MetaKeyword = q.MetaKeyword,
                        MomentaryOffer = q.MomentaryOffer,
                        PersianTitle = q.PersianTitle,
                        ProductGift = q.ProductGift,
                        WeakPoints = q.WeakPoints,
                        IsShowIndex = q.IsShowIndex,
                        Id = q.Id,
                        Offer = q.Offer
                    });
                }
            }
        }
        @if (basket.Count > 0)
        {
            <div class="widget-shopping-cart">
                <div class="widget-shopping-cart-content">
                    <div class="wrapper">
                        <div class="scrollbar" id="style-1">
                            <div class="force-overflow">
                                <ul class="product-list-widget">
                                    @{
                                        if (products.Count > 0)
                                        {
                                            @foreach (var i in products)
                                            {
                                                <li class="mini-cart-item">
                                                    <div
                                                        class="mini-cart-item-content">
                                                        <a href="@Url.Action("RemoveInBasket", "Home", new { i.ProductColors.FirstOrDefault().Id })"
                                                           class="mini-cart-item-close">
                                                            <i class="mdi mdi-close"></i>
                                                        </a>
                                                        <a href="@Url.Action("RemoveInBasket", "Home", new { i.ProductColors.FirstOrDefault().Id })"
                                                           class="mini-cart-item-image d-block"
                                                           style="top: 0">
                                                            <img
                                                                src="https://newdev.parsme.com/Images/ProductImage/@i.ImageUri">
                                                        </a>
                                                        <span
                                                            class="product-name-card">
                                                            @i.PersianTitle
                                                        </span>
                                                        <div
                                                            class="header-basket-list-item-color-badge">
                                                            رنگ:
                                                            <span
                                                                style="background: @i.ProductColors.FirstOrDefault().Color.ColorCode">
                                                            </span>
                                                        </div>
                                                        <div class="quantity">
                                                            <span
                                                                class="quantity-Price-amount">

                                                                <span> تعداد:@i.Count</span>
                                                            </span>
                                                        </div>
                                                        <div class="quantity">
                                                            <span
                                                                class="quantity-Price-amount">
                                                                @{
                                                                    var priceBasket = new double();
                                                                    if (i.IsOffer)
                                                                    {
                                                                        if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                                                                        {
                                                                            priceBasket = i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault(x => x.ColorId == i.Offer.ColorId).Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer);
                                                                        }
                                                                        else
                                                                        {
                                                                            priceBasket = i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        priceBasket = i.ProductColors.FirstOrDefault()!.Price.DiscountProduct(i.DiscountAmount);
                                                                    }

                                                                    priceBasket = priceBasket * i.Count;
                                                                }
                                                                @priceBasket.ToString("N0")
                                                                <span>تومان</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="mini-cart-item">
                                                <div
                                                    class="mini-cart-item-content">
                                                    <span class="product-name-card">
                                                        سبد خالی
                                                    </span>

                                                </div>
                                            </li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="mini-card-total">
                        <strong>قیمت کل : </strong>
                        <span class="price-total">
                            @price.ToString("N0")
                            <span>تومان</span>
                        </span>
                    </div>
                    <div class="mini-card-button">
                        <a href="@Url.Action("Basket", "Home")"
                           class="view-card">
                            مشاهده سبد
                            خرید
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="header-left">
        <div class="header-account text-left">
            <div class="account-box"
                 style="padding: 12px 15px 5px 5px">
                <div class="nav-account d-block pl">
                    <a href="tel:@seoPage.HeaderNumber"
                       class="d-flex justify-content-center">
                        <span
                            class="title-account">
                            @seoPage.HeaderNumber
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    </li>

    </ul>


    </div>

    </li>

    </ul>
    </div>
    </div>
    </div>


    </div>
    <!-- Main NavBar -->
    </section>
    <div class="d-block">
    </div>
    </nav>

    <div class="overlay"></div>
    <!-- bottom-menu-joomy -->
    <div class="bottom-menu-joomy">
        <ul class="mb-0">
            <li>
                <a href="@Url.Action("Index")">
                    <i class="mdi mdi-home"></i>
                    صفحه اصلی
                </a>
            </li>
            <li>
                <a href="@Url.Action("Basket")">
                    <i class="mdi mdi-cart"></i>
                    سبد خرید
                    <div class="shopping-bag-item">@basket.Count</div>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="mdi mdi-magnify"></i>
                    جستجو
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Profile")">
                        <i class="mdi mdi-account"></i>
                        حساب کاربری
                    </a>
                </li>
            }

        </ul>
    </div>
    <!--    responsive-megamenu-mobile----------------->
    </div>
    </header>

}

@section link
{

    <link rel="stylesheet" href="/assetsCli/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/materialdesignicons.css">
    <!-- plugin-----------------"a-------------->
    <link rel="stylesheet" href="/assetsCli/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/noUISlider.min.css">
    <link rel="stylesheet" href="/assetsCli/css/vendor/nice-select.css">
    <!-- main-style-------------"a-------------->
    <link rel="stylesheet" href="/assetsCli/css/main.css">
    <link rel="stylesheet" href="/assetsCli/css/responsive.css">
    <style>
    .countdown .countdown-value {
        font-family: "IRANSans";
        font-weight: 500;
        width: 29px !important;
        height: 30px!important;
        background: #fff;
        border-radius: 25px;
        line-height: 35px;
        color: #6d6c6c;
        font-size: 11px;
        border: 1px solid #cdcdcd;
    }
    .countdown-timer {
        width: 100%;
        text-align: center;
        margin-top: 0px !important;
        display: block;
        position: relative;
    }

</style>
}

<div class="container-main">
<div class="d-block">
<div class="page-content page-row">
<div class="main-row">
<div id="breadcrumb">
    <i class="mdi mdi-home"></i>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index")">خانه</a>
            </li>
        </ol>
    </nav>
</div>

<!-- start sidebar--------------------->
<div class="col-lg-3 col-md-3 col-xs-12 pr sticky-sidebar">
    <div class="shop-archive-sidebar">
        <div class="sidebar-archive mb-3">
            @* <section class="widget-product-categories"> *@
            @*     <header class="cat-header"> *@
            @*         <h2 class="mb-0"> *@
            @*             <button class="btn btn-block text-right" data-toggle="collapse" *@
            @*                     href="#headingOne" role="button" aria-expanded="false" *@
            @*                     aria-controls="headingOne"> *@
            @*                 دسته بندی محصولات *@
            @*                 <i class="mdi mdi-chevron-down"></i> *@
            @*             </button> *@
            @*         </h2> *@
            @*     </header> *@
            @*     <div class="product-filter"> *@
            @*         <div class="card"> *@
            @*             <div class="collapse show" id="headingOne"> *@
            @*                 <div class="card-main mb-0"> *@
            @*                     @{ *@
            @*                         foreach (var i in subCategories) *@
            @*                         { *@
            @*                             <div style="cursor:pointer;" class="form-auth-row SubCat"> *@
            @*                                 <a class="text-decoration-none remember-me" style="color: black;cursor: pointer" href="@Url.Action("SubCategory", "Home", new { subCategoryId = @i.Id })"> *@
            @*                                     @i.Name *@
            @*                                 </a> *@
            @*                             </div> *@
            @*                         } *@
            @*                     } *@
            @*                 </div> *@
            @*             </div> *@
            @*         </div> *@
            @*     </div> *@
            @* </section> *@

            <section class="widget-product-categories">
                <header class="cat-header">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-right" data-toggle="collapse"
                                href="#headingTwo" role="button" aria-expanded="false"
                                aria-controls="headingTwo">
                            بر اساس مشخصات
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                    </h2>
                </header>
                <div class="product-filter">
                    <div class="card">
                        <div class="collapse show" id="headingTwo">
                            <div class="card-main mb-0">
                                <div class="form-auth-row">
                                    @{
                                        foreach (var i in categoryDetails)
                                        {
                                            var idCollapse = "heading" + i.Id;
                                            <section class="widget-product-categories">
                                                <header class="cat-header">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-block text-right"
                                                                data-toggle="collapse" href="#@idCollapse"
                                                                role="button" aria-expanded="false"
                                                                aria-controls="@idCollapse">
                                                            @i.Title
                                                            <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                    </h2>
                                                </header>
                                                <div class="product-filter">
                                                    <div class="card">
                                                        <div class="collapse " id="@idCollapse">
                                                            <div class="card-main mb-0">
                                                                @foreach (var c in i.Option.Split(","))
                                                                {
                                                                    var idC = c + "Check";

                                                                    if (details.Contains(c))
                                                                    {
                                                                        <div class="form-auth-row">
                                                                            <label for="@idC" class="ui-checkbox">
                                                                                <input type="checkbox" value="@c" checked="checked" name="IsSearch" id="@idC" onchange="submitFormWithSelectedValues()">
                                                                                <span class="ui-checkbox-check"></span>
                                                                            </label>
                                                                            @* href="@Url.Action("SubCategory", "Home", new { id, detailId = i.Id, value = c })" *@
                                                                            <a
                                                                                class="remember-me" id="@c">
                                                                                @c
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="form-auth-row">
                                                                            <label for="@idC" class="ui-checkbox">
                                                                                <input type="checkbox" value="@c" name="IsSearch" id="@idC" onchange="submitFormWithSelectedValues()">
                                                                                <span class="ui-checkbox-check"></span>
                                                                            </label>
                                                                            @* href="@Url.Action("SubCategory", "Home", new { id, detailId = i.Id, value = c })" *@
                                                                            <a
                                                                                class="remember-me" id="@c">
                                                                                @c
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                  
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="widget-product-categories">
                <header class="cat-header">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-right collapsed" data-toggle="collapse"
                                href="#headingThree" role="button" aria-expanded="false"
                                aria-controls="headingThree">
                            محدوده قیمت
                            <i class="mdi mdi-chevron-down"></i>
                        </button>
                    </h2>
                </header>
                <div class="product-filter">
                    <div class="card">
                        <div class="collapse show" id="headingThree">
                            <div class="card-main mb-0">
                                <div class="">
                                    <form asp-action="Search">
                                        <div class="mt-5 mb-4">
                                            <div id="slider-non-linear-step"></div>
                                        </div>
                                        <div class="filter-range mt-2 mb-2 pr">
                                            <span>قیمت: </span>
                                            <span class="example-val"
                                                  id="slider-non-linear-step-value">
                                            </span> تومان
                                        </div>
                                        <div class="mt-2 pl">
                                            <button class="btn btn-range" type="button" onclick="Search()">
                                                اعمال
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="shop-archive-content mt-3 d-block">
        <div class="archive-header">
            <h2 class="archive-header-title"> محصولات</h2>
            <div class="sort-tabs mt-0 d-inline-block pr">
                <h4>مرتب‌سازی بر اساس :</h4>
            </div>
            <div class="nav-sort-tabs-res">
                <ul class="nav sort-tabs-options" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active " id="Most-visited-tab" data-toggle="tab"
                           href="#Most-visited" role="tab" aria-controls="Most-visited"
                           aria-selected="true">
                            جدیدترین
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Bestselling-tab" data-toggle="tab"
                           href="#Bestselling" role="tab" aria-controls="Bestselling"
                           aria-selected="false">
                            ارزان ترین
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Most-Popular-tab" data-toggle="tab"
                           href="#Most-Popular" role="tab" aria-controls="Most-Popular"
                           aria-selected="false">
                            گران ترین
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="product-items">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Most-visited" role="tabpanel" aria-labelledby="Most-visited-tab">
                    <div class="row">
                        @{
                            if (products.Count > 0)
                            {
                                foreach (var i in products)
                                {
                                    <div class="col-lg-4 col-md-6 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple shadow-card">
                                            <div class="thumb" style="min-height: 265px">
                                                <a href="@Url.Action("ProductPage", "Home", new { i.Id })" class="d-block">
                                                    @if (i.IsOffer)
                                                    {
                                                        if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                                                        {
                                                            if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer))
                                                            {
                                                                <div class="d-flex justify-content-between gap-3">
                                                                    <div class="promotion-badge w-25" style="    margin: 0;
    font-weight: bold;">فروش ویژه</div>
                                                                    <div class="countdown-timer w-75">
                                                                        <div class="countdown h6"
                                                                             data-date-time="@i.Offer.StartDate.AddDays(i.Offer.Days).AddHours(i.Offer.Hours).AddMinutes(i.Offer.Minutes)"
                                                                             data-labels='{"label-day": "", "label-hour": "", "label-minute": "", "label-second": ""}'>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @if (!i.ProductColors.Any(x => x.Inventory > 0) || i.ProductStatus != ProductStatus.Available)
                                                    {
                                                        <div class="p-3">
                                                            <div class="discount-d">
                                                                <span>ناموجود</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    <img src="https://newdev.parsme.com/Images/ProductImage/@i.ImageUri"
                                                         class="img-fluid" alt="">
                                                </a>
                                            </div>
                                            <div class="color-d">
                                                @foreach (var q in i.ProductColors)
                                                {
                                                    <h1 style="background-color: @q.Color.ColorCode ;border-radius: 30px ;width: 1px;padding: 5px!important;" class="p-2 m-1 "></h1>
                                                }
                                            </div>
                                            <h2 class="post-title">
                                                <a href="@Url.Action("ProductPage", "Home", new { @i.Id })">
                                                    @i.PersianTitle
                                                </a>
                                            </h2>
                                            <div class="price">
                                                <span class="amount">
                                                    @{
                                                        if (i.IsOffer)
                                                        {
                                                            @i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault().Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer).ToString("N0")
                                                        }
                                                        else
                                                        {
                                                            @i.ProductColors.FirstOrDefault().Price.DiscountProduct(i.DiscountAmount).ToString("N0")
                                                        }
                                                    }
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                        </section>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="p-2 m-1 text-center">محصولی یافت نشد</div>
                            }
                        }

                    </div>
                </div>
                <div class="tab-pane fade " id="Bestselling" role="tabpanel" aria-labelledby="Bestselling-tab">
                    <div class="row">
                        @{
                            if (products.Count > 0)
                            {
                                foreach (var i in minPrice)
                                {
                                    <div class="col-lg-4 col-md-6 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple shadow-card">
                                            <div class="thumb" style="min-height: 265px">
                                                <a href="@Url.Action("ProductPage", "Home", new { i.Id })" class="d-block">
                                                    @if (i.IsOffer)
                                                    {
                                                        if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                                                        {
                                                            if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer))
                                                            {
                                                                <div class="d-flex justify-content-between gap-3">
                                                                    <div class="promotion-badge w-25" style="    margin: 0;
    font-weight: bold;">فروش ویژه</div>
                                                                    <div class="countdown-timer w-75">
                                                                        <div class="countdown h6"
                                                                             data-date-time="@i.Offer.StartDate.AddDays(i.Offer.Days).AddHours(i.Offer.Hours).AddMinutes(i.Offer.Minutes)"
                                                                             data-labels='{"label-day": "", "label-hour": "", "label-minute": "", "label-second": ""}'>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @if (!i.ProductColors.Any(x => x.Inventory > 0) || i.ProductStatus != ProductStatus.Available)
                                                    {
                                                        <div class="p-3">
                                                            <div class="discount-d">
                                                                <span>ناموجود</span>
                                                            </div>
                                                        </div>
                                                    }
                                                    <img src="https://newdev.parsme.com/Images/ProductImage/@i.ImageUri"
                                                         class="img-fluid" alt="">
                                                </a>
                                            </div>
                                            <div class="color-d">
                                                @foreach (var q in i.ProductColors)
                                                {
                                                    <h1 style="background-color: @q.Color.ColorCode ;border-radius: 30px ;width: 1px;padding: 5px!important;" class="p-2 m-1 "></h1>
                                                }
                                            </div>
                                            <h2 class="post-title">
                                                <a href="@Url.Action("ProductPage", "Home", new { @i.Id })">
                                                    @i.PersianTitle
                                                </a>
                                            </h2>
                                            <div class="price">
                                                <span class="amount">
                                                    @{
                                                        if (i.IsOffer)
                                                        {
                                                            @i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault().Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer).ToString("N0")
                                                        }
                                                        else
                                                        {
                                                            @i.ProductColors.FirstOrDefault().Price.DiscountProduct(i.DiscountAmount).ToString("N0")
                                                        }
                                                    }
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                        </section>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="p-2 m-1 text-center">محصولی یافت نشد</div>
                            }
                        }

                    </div>
                </div>
                <div class="tab-pane fade " id="Most-Popular" role="tabpanel" aria-labelledby="Most-Popular-tab">
                    <div class="row">
                        @{
                            if (products.Count > 0)
                            {
                                foreach (var i in maxPrice)
                                {
                                    <div class="col-lg-4 col-md-6 col-xs-12 order-1 d-block mb-3">
                                        <section class="product-box product product-type-simple shadow-card">
                                            <div class="thumb" style="min-height: 265px">
                                                <a href="@Url.Action("ProductPage", "Home", new { i.Id })" class="d-block">
                                                    @if (i.IsOffer)
                                                    {
                                                        if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer) && i.ProductColors.Any(x => x.ColorId == i.Offer.ColorId))
                                                        {
                                                            if (i.Offer.StartDate.CalcOffer(i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer))
                                                            {
                                                                <div class="d-flex justify-content-between gap-3">
                                                                    <div class="promotion-badge w-25" style="    margin: 0;
    font-weight: bold;">فروش ویژه</div>
                                                                    <div class="countdown-timer w-75">
                                                                        <div class="countdown h6"
                                                                             data-date-time="@i.Offer.StartDate.AddDays(i.Offer.Days).AddHours(i.Offer.Hours).AddMinutes(i.Offer.Minutes)"
                                                                             data-labels='{"label-day": "", "label-hour": "", "label-minute": "", "label-second": ""}'>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                    @if (!i.ProductColors.Any(x => x.Inventory > 0) || i.ProductStatus != ProductStatus.Available)
                                                    {
                                                        <div class="p-3">
                                                            <div class="discount-d">
                                                                <span>ناموجود</span>
                                                            </div>

                                                        </div>
                                                    }
                                                    <img src="https://newdev.parsme.com/Images/ProductImage/@i.ImageUri"
                                                         class="img-fluid" alt="">
                                                </a>
                                            </div>
                                            <div class="color-d">
                                                @foreach (var q in i.ProductColors)
                                                {
                                                    <h1 style="background-color: @q.Color.ColorCode ;border-radius: 30px ;width: 1px;padding: 5px!important;" class="p-2 m-1 "></h1>
                                                }
                                            </div>
                                            <h2 class="post-title">
                                                <a href="@Url.Action("ProductPage", "Home", new { @i.Id })">
                                                    @i.PersianTitle
                                                </a>
                                            </h2>
                                            <div class="price">
                                                <span class="amount">
                                                    @{
                                                        if (i.IsOffer)
                                                        {
                                                            @i.Offer.StartDate.CalcOffer(i.DiscountAmount, i.Offer.OfferAmount, i.ProductColors.FirstOrDefault().Price, i.Offer.Days, i.Offer.Hours, i.Offer.Minutes, i.IsOffer).ToString("N0")
                                                        }
                                                        else
                                                        {
                                                            @i.ProductColors.FirstOrDefault().Price.DiscountProduct(i.DiscountAmount).ToString("N0")
                                                        }
                                                    }
                                                    <span>تومان</span>
                                                </span>
                                            </div>
                                        </section>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="p-2 m-1 text-center">محصولی یافت نشد</div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-product">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("SubCategory", "Home", new { page = pageSize - 1, id,values=details })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (var i = pageSize; i <= pageSize + 2; i++)
                    {
                        if (i == pageSize)
                        {
                            <li class="page-item">
                                <a class="page-link active" href="@Url.Action("SubCategory", "Home", new { page = i, id,values=details })">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link " href="@Url.Action("SubCategory", "Home", new { page = i, id,values=details })">@i</a>
                            </li>
                        }
                    }
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("SubCategory", "Home", new { page = pageSize + 1, id ,values=details})" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<form method="post" asp-action="SubCategory" asp-controller="Home" id="searchForm">
    <input type="hidden" name="id" value="@id">
    <input type="hidden" name="min" value="0">
    <input type="hidden" name="max" value="0">
    <input type="hidden" name="page" value="@pageSize">
</form>
@section script
{
    <script>
    function Search(){
        var id ='@Html.Raw(ViewBag.Id)'
        const spanElement = document.getElementById('slider-non-linear-step-value');
        const spanText = spanElement.textContent;
        const values = spanText.split(' - ');
        var min = values[0].replace(/,/g, '');
        var max = values[1].replace(/,/g, '');
        var confirmCodeUrl = '@Url.Action("SubCategory", "Home")';
        const checkedValues = Array.from(new Set(
            Array.from(document.querySelectorAll('input[name="IsSearch"]:checked'))
                .map(checkbox => checkbox.value)
        ));
        if (checkedValues.length > 0) {
            confirmCodeUrl += '?id=' + id + "&min=" + min + '&max=' + max + '&values=' + checkedValues.join(',');
        } else {
            confirmCodeUrl += '?id=' + id + "&min=" + min + '&max=' + max;
        }
        window.location.href = confirmCodeUrl;
    }
    function submitFormWithSelectedValues() {
        Notiflix.Loading.circle('در حال پردازش ...');
        const form = document.getElementById('searchForm');
        const previousValues = form.querySelectorAll('input[name="values"]');
        previousValues.forEach(input => input.remove());
        const checkedValues = Array.from(document.querySelectorAll('input[name="IsSearch"]:checked'))
            .map(checkbox => checkbox.value);
        checkedValues.forEach(value => {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'values';
            hiddenInput.value = value;
            form.appendChild(hiddenInput);
        });
        form.submit();
    }
</script>

    <script src="/assetsCli/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="/assetsCli/js/vendor/bootstrap.js"></script>
    <!-- plugin--/assetsCli--------------------------------------------->
    <script src="/assetsCli/js/vendor/owl.carousel.min.js"></script>
    <script src="/assetsCli/js/vendor/jquery.countdown.js"></script>
    <script src="/assetsCli/js/vendor/ResizeSensor.min.js"></script>
    <script src="/assetsCli/js/vendor/theia-sticky-sidebar.min.js"></script>
    <script src="/assetsCli/js/vendor/wNumb.js"></script>
    <script src="/assetsCli/js/vendor/nouislider.min.js"></script>
    <script src="/assetsCli/js/vendor/jquery.nice-select.min.js"></script>
    <!-- main js-/assetsCli--------------------------------------------->
    <script src="/assetsCli/js/main.js"></script>
}