@page "/SubGroupProduct"
@using Application.Interfaces
@using Domain.Entity.Product
@using Microsoft.EntityFrameworkCore

<div style="padding: 15px">
    <h4 class="fw-bold py-3 mb-4" style="direction: rtl"><span class="text-muted fw-light">اطلاعات پایه /</span> زیر
        گروه محضولات
    </h4>
    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover" style="direction: rtl">
                <thead>
                <tr>
                    <th>شماره</th>
                    <th>عنوان</th>
                    <th>بازدید</th>
                    <th>تعداد کالا</th>
                    <th>وضعیت</th>
                    <th>زیر دسته</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                @foreach (var i in _brands)
                {
                    <tr>
                        <td>
                            <i class="fab fa-angular fa-lg text-danger me-3"></i>
                            <strong>@i.Id</strong>
                        </td>
                        <td>
                            @i.Title
                        </td>
                        <td>
                            @i.OnClick
                        </td>
                        <td>
                            @i.Products.Count
                        </td>
                        <td>
                            @if (i.IsActive)
                            {
                                <span class="badge bg-label-success me-1">فعال</span>
                            }
                            else
                            {
                                <span class="badge bg-label-danger me-1">غیر فعال</span>
                            }
                        </td>
                        <td>
                            @if (i.SubCategory == null)
                            {
                                <div>
                                    none
                                </div>
                            }
                            else
                            {
                                <div>
                                    @i.SubCategory.Name
                                </div>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i
                                            class="bx bx-edit-alt me-1"></i>
                                        ویرایش</a
                                    >
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>
                                        حذف</a
                                    >
                                </div>
                            </div>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>

</div>