@page "/ManageCategoryDetails"
@using Application.Common.Utilities
@using Application.Interfaces
@using Domain.Entity.Product
@using Microsoft.EntityFrameworkCore


<div style="padding: 15px">
    <h4 class="fw-bold py-3 mb-4" style="direction: rtl"><span class="text-muted fw-light">اطلاعات پایه /</span>ویژگی
        دسته بندی
    </h4>
    <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <li class="nav-item">
                <button
                    type="button"
                    class="nav-link active"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-pills-justified-home"
                    aria-controls="navs-pills-justified-home"
                    aria-selected="true"
                >
                    <i class="tf-icons bx bx-home"></i>دسته بندی ویژگی ها
                </button>
            </li>
            <li class="nav-item">
                <button
                    type="button"
                    class="nav-link"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#navs-pills-justified-profile"
                    aria-controls="navs-pills-justified-profile"
                    aria-selected="false"
                >
                    <i class="tf-icons bx bx-user"></i> ویژگی ها
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="navs-pills-justified-home" role="tabpanel">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>شماره</th>
                            <th>عنوان</th>
                            <th>زیردسته</th>
                            <th>نوع ویژگی</th>
                            <th>نوع اطلاعات</th>
                            <th>نمایش در جستجو</th>
                            <th>وضعیت</th>
                            <th>ترتیب</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        @foreach (var i in _categoryDetails)
                        {
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                                    <strong>@i.Id</strong>
                                </td>
                                <td>
                                    @i.Title
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center gap-2 flex-wrap">
                                        @foreach (var q in i.SubCategoryDetails)
                                        {
                                            <span class="badge bg-label-primary">@q.SubCategory.Name</span>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @i.Feature.Title
                                </td>
                                <td>
                                    @i.DataType.ToDisplay()
                                </td>
                                <td>
                                    @if (i.ShowInSearch)
                                    {
                                        <span class="badge bg-label-success me-1">فعال</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-label-danger me-1">غیر فعال</span>
                                    }
                                </td>
                                <td>
                                    @if (i.IsActive)
                                    {
                                        <span class="badge bg-label-success me-1">فعال</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-label-danger me-1">غیر فعال</span>
                                    }
                                </td>
                                <td>
                                    @i.Priority
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="bx bx-edit-alt me-1"></i> Edit</a
                                            >
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="bx bx-trash me-1"></i> Delete</a
                                            >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="navs-pills-justified-profile" role="tabpanel">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>شماره</th>
                            <th>عنوان</th>
                            <th>ترتیب</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        @foreach (var i in _features)
                        {
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                                    <strong>@i.Id</strong>
                                </td>
                                <td>
                                    @i.Title
                                </td>
                                <td>
                                    @i.Priority
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="bx bx-edit-alt me-1"></i> Edit</a
                                            >
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="bx bx-trash me-1"></i> Delete</a
                                            >
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@code{
    [Inject] private IUnitOfWork _work { set; get; }
    private List<CategoryDetail> _categoryDetails = [];
    private List<Feature> _features = [];

    protected override async Task OnInitializedAsync()
    {
        _categoryDetails = await _work.GenericRepository<CategoryDetail>().TableNoTracking
            .Include(x => x.SubCategoryDetails).ThenInclude(x => x.SubCategory).ThenInclude(x => x.Category)
            .Include(x => x.Feature)
            .OrderByDescending(x => x.Id).ToListAsync();
        _features = await _work.GenericRepository<Feature>().TableNoTracking
            .OrderByDescending(x => x.Id)
            .ToListAsync();
    }

}