@using Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    List<Domain.Entity.Product.Brand> brands = ViewBag.Brands;
    List<SubCategory> SubCats = ViewBag.SubCats;
}
@model Panel.Models.CheckBoxHtml

@section link
{
    <style>
    .modal{
        top: 80px; 
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت زیر گروه</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">زیرگروه ها</a>
                            </li>
                        </ul>
                        <div class="list-group list-group-unbordered mb-3 d-flex flex-row justify-content-center gap-5 m-3">
                            <div>
                                <b class="p-3">تعداد </b> <a class="float-left"> @brands.Count()</a>
                            </div>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex justify-content-around flex-wrap  p-2"
                                      asp-action="InsertBrand" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">عنوان </label>
                                        <input name="title" class="form-control" id="exampleInputPassword1" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">عنوان سئو </label>
                                        <input name="seoTitle" class="form-control" id="exampleInputPassword2" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1"> توضیحات</label>
                                        <input name="seoDesc" class="form-control" id="exampleInputPassword3" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">آدرس متعارف </label>
                                        <input name="seoCanonical" class="form-control" id="exampleInputPassword4" required="required">
                                    </div>
                                    @* <div class="form-group"> *@
                                    @*     <label for="exampleInputFile">لوگو</label> *@
                                    @*     <div class="input-group"> *@
                                    @*         <div class="custom-file"> *@
                                    @*             <input name="logo" type="file" class="custom-file-input" id="exampleInputFile"> *@
                                    @*             <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label> *@
                                    @*         </div> *@
                                    @*     </div> *@
                                    @* </div> *@
                                    <div class="form-group d-flex flex-column ">
                                        <label for="exampleInputPassword1">نوع زیردسته</label>
                                        <select name="subCatId" style="min-width: 200px;" class="form-select select2" aria-label="Default select example" required="required">
                                            @{
                                                int index = 0;
                                                foreach (var i in SubCats)
                                                {
                                                    if (index == 0)
                                                    {
                                                        <option selected value="@i.Id">@i.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i.Id">@i.Name</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="d-flex flex-column align-content-center justify-content-center ">
                                        <div class="form-group">
                                            <div class="form-check">
                                                @Html.CheckBox("isActive")
                                                @* <input name="isActive" class="form-check-input" type="checkbox" id="isActive"> *@
                                                <label class="form-check-label">وضعیت فعال</label>
                                            </div>
                                        </div>
                                        <div class="form-input">
                                            <button type="submit" class="btn btn-primary">ثبت</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="card mt-3">
                                <form asp-action="Brand" asp-controller="Admin" method="post" class="d-flex justify-content-between">
                                    <div class="input-group p-3  m-2 w-50">
                                        <input type="text" class="form-control " name="search" style="border-radius: 0px 5px 5px 0px; !important;" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو</button>
                                    </div>
                                    <div class="form-check w-50 mt-4">
                                        <input type="hidden" id="isActiveSearch" name="isActiveSearch" value="@ViewBag.IsAct.ToString()" />
                                        @Html.CheckBoxFor(model => model.IsActive, new { @id = "isActive3", @name = "isActive3" })
                                        <label class="form-check-label">وضعیت فعال</label>
                                    </div>

                                </form>

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center">id</th>
                                            <th class="text-center">عنوان</th>
                                            <th class="text-center">بازدید</th>
                                            <th class="text-center">تعداد کالا</th>
                                            <th class="text-center">وضعیت</th>
                                            <th class="text-center">زیر دسته</th>
                                            @* <th class="text-center" style="width: 25%">لوگو</th> *@
                                            <th class="text-center">عملیات</th>
                                        </tr>
                                        @{
                                            if (brands.Count < 1)
                                            {
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td class="text-center">
                                                        یافت نشد

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var i in brands)
                                                {
                                                    <tr>
                                                        <td class="text-center">@i.Id</td>
                                                        <td class="text-center">@i.Title</td>
                                                        <td class="text-center">@i.OnClick</td>
                                                        <td class="text-center">@i.Products.Count</td>
                                                        <td class="text-center">
                                                            @if (i.IsActive)
                                                            {
                                                                <span class="badge bg-success ">فعال</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge bg-danger ">غیرفعال</span>
                                                            }
                                                        </td>
                                                        <td class="text-center">@i.SubCategory.Name</td>
                                                        @* <td class="text-center"> *@
                                                        @*     <img src="/Images/Brand/@i.LogoUri" width="50" alt=""/> *@
                                                        @* </td> *@
                                                        <td class="text-center">
                                                            <form>
                                                                <a class="badge bg-warning text-muted modalProduct" data-toggle="modal" data-target="#exampleModal">ویرایش</a>
                                                                <input type="text" name="mId" class="mId" value="@i.Id" hidden="hidden"/>
                                                                <input type="text" name="mTitle" class="mTitle" value="@i.Title" hidden="hidden"/>
                                                                <input type="text" name="mIsActive" class="mIsActive" value="@i.IsActive.ToString()" hidden="hidden"/>
                                                                <input type="text" name="mSeoCanonical" class="mSeoCanonical" value="@i.SeoCanonical" hidden="hidden"/>
                                                                <input type="text" name="mSeoDesc" class="mSeoDesc" value="@i.SeoDesc" hidden="hidden"/>
                                                                <input type="text" name="mSeoTitle" class="mSeoTitle" value="@i.SeoTitle" hidden="hidden"/>
                                                                <input type="text" name="mSubCategoryId" class="mSubCategoryId" value="@i.SubCategoryId" hidden="hidden"/>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Modal -->
<div class="modal fade exampleModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <form class="modal-content" asp-action="UpdateBrand" asp-controller="Admin" method="post" enctype="multipart/form-data">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش </h5>
                <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="idP" id="idP" required="required" name="Id" hidden="hidden">
                <div class="d-flex justify-content-between">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">عنوان </span>
                        <input type="text" id="TitleEdit" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="title">
                    </div>
                    <div class="input-group p-3  m-2 w-50">
                        <select class="form-select catIdP" id="SubCatIdEdit" name="subCategoryId" required="required">
                            @{
                                foreach (var i in SubCats)
                                {
                                    <option value="@i.Id">@i.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">عنوان سئو</span>
                        <input type="text" id="SeoTitle" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="seoTitle">
                    </div>
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">توضیحات سئو </span>
                        <input type="text" id="SeoDesc" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="seoDesc">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">آدرس متعارف</span>
                        <input type="text" id="SeoCanonical" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="seoCanonical">
                    </div>

                </div>

                @* <div class=" m-2  p-3 " style="background-color:	rgb(220,220,220,0.4)"> *@
                @*     <input type="file" id="Image" name="image" title="test" class="form-control"> *@
                @*     <div class="input-group  p-1" style="justify-content: center;"> *@
                @*         <img id="LogoEdit" src="" style="object-fit: cover;text-align: center" class="imageThreeP" width="130"/> *@
                @*     </div> *@
                @* </div> *@

            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <div class="form-check w-50 mt-4">
                    @Html.CheckBox("isActive2", new { @name = "isActive2" })
                    <label class="form-check-label">وضعیت فعال</label>
                </div>
                <button type="submit" class="btn btn-primary ">ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>

@section script{
    <script>

</script>
    <script>
    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#TitleEdit").val(currentrow.find($("input.mTitle[type=text]")).val());
            $("#SeoTitle").val(currentrow.find($("input.mSeoTitle[type=text]")).val());
            $("#SeoDesc").val(currentrow.find($("input.mSeoDesc[type=text]")).val());
            $("#SeoCanonical").val(currentrow.find($("input.mSeoCanonical[type=text]")).val());
            var isActiveValue = currentrow.find("input.mIsActive[type=text]").val();
            if (isActiveValue === "True") {
                $('#isActive2').prop('checked', true);
            } else {
                $('#isActive2').prop('checked', false);
            }
            $('#SubCatIdEdit').val(currentrow.find($("input.mSubCategoryId[type=text]")).val());
        });
        $('#isActive3').on('change', function() {
            var isActiveSearch = $('#isActiveSearch');
            isActiveSearch.val(this.checked ? 'true' : 'false'); // اگر تیک خورده باشد، true می‌شود وگرنه false
        });
    });
    $('#Image').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#LogoEdit').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });

</script>

}