@using Domain.Entity.User
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
Layout = "_LayoutAdmin";
List<PostMethod> postMethods = ViewBag.PostMethod;
}

@section link
{
<style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت روش های ارسال</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">روش های ارسال</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex justify-content-start gap-4 p-2"
                                      asp-action="InsertPostMethod" asp-controller="Admin" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">عنوان</label>
                                        <input name="title" class="form-control" id="exampleInputPassword1" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">هزینه</label>
                                        <input name="price" class="form-control" id="exampleInputPassword1" required="required">
                                    </div>
                                    <div class="d-flex flex-column align-content-center justify-content-center ">
                                        <div class="form-input">
                                            <button type="submit" class="btn btn-primary">ثبت</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="card mt-3">
                                <form asp-action="ManagePostMethod" asp-controller="Admin" method="post">
                                    <div class="input-group p-3 w-25   m-2">
                                        <input type="text" value="1" name="index" hidden="hidden"/>
                                        <input type="text" class="form-control w-50" name="search" style="border-radius: 0px 5px 5px 0px; !important;max-width: 250px" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو </button>
                                    </div>
                                </form>
                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 20%">عنوان</th>
                                            <th class="text-center" style="width: 20%">هزینه</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>
                                        @{
                                        if (postMethods.Count < 1)
                                        {
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td class="text-center">
                                                یافت نشد
                                            </td>
                                        </tr>
                                        }
                                        else
                                        {
                                        foreach (var i in postMethods)
                                        {
                                        <tr>
                                            <td class="text-center">@i.Id</td>
                                            <td class="text-center">@i.Title</td>
                                           @if (@i.Price < 1)
                                           {
                                               <td class="text-center">رایگان</td>
                                           }
                                           else
                                           {
                                               <td class="text-center">@i.Price</td>
                                           }
                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted modalProduct" data-toggle="modal" data-target="#exampleModal">ویرایش</a>
                                                    <input type="text" name="mId" class="mId" value="@i.Id" hidden="hidden"/>
                                                    <input type="text" name="mTitle" class="mTitle" value="@i.Title" hidden="hidden"/>
                                                    <input type="text" name="mTitle" class="mPrice" value="@i.Price" hidden="hidden"/>
                                                </form>
                                            </td>
                                        </tr>
                                        }
                                        }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Modal -->
<div class="modal fade exampleModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <form class="modal-content" asp-action="UpdatePostMethod" asp-controller="Admin" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش محصول</h5>
                <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="idP" id="Id" required="required" name="Id" hidden="hidden">
                <div class="d-flex justify-content-between">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">عنوان </span>
                        <input type="text" id="Title" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="title">
                    </div>
                    <div class="input-group p-3 m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">هزینه</span>
                        <input type="text" id="Price" style="border-radius: 5px 0px 0px 5px;" class="form-control brandP" required="required" name="price">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <button type="submit" class="btn btn-primary " >ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>

@section script{

<script>

    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#Id").val(currentrow.find($("input.mId[type=text]")).val());
            $("#Title").val(currentrow.find($("input.mTitle[type=text]")).val());
            $("#Price").val(currentrow.find($("input.mPrice[type=text]")).val());
        });
    });
</script>
}