@using Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    List<Brand> brands = ViewBag.Brands;
    List<SubCategory> SubCats = ViewBag.SubCats;
}

@section link
{
    <style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت محتوا برند</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">برندها</a>
                            </li>
                        </ul>
                        <div class="list-group list-group-unbordered mb-3 d-flex flex-row justify-content-center gap-5 m-3">
                            <div>
                                <b class="p-3">تعداد برند</b> <a class="float-left"> @brands.Count()</a>
                            </div>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">

                            </div>
                            <div class="card mt-3">
                                <form asp-action="ManageBrand" asp-controller="Admin" method="post">
                                    <div class="input-group p-3  m-2 w-50">
                                        <input type="text" class="form-control " name="search" style="border-radius: 0px 5px 5px 0px; !important;" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو</button>
                                    </div>
                                </form>

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 20%">عنوان</th>
                                            <th class="text-center" style="width: 15%">زیر دسته</th>
                                            <th class="text-center" style="width: 25%">لوگو</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>
                                        @{
                                            if (brands.Count < 1)
                                            {
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td class="text-center">
                                                        یافت نشد

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var i in brands)
                                                {
                                                    <tr>
                                                        <td class="text-center">@i.Id</td>
                                                        <td class="text-center">@i.Title</td>
                                                        <td class="text-center">@i.SubCategory.Name</td>
                                                        <td class="text-center">
                                                            <img src="/Images/Brand/@i.LogoUri" width="50" alt=""/>
                                                        </td>
                                                        <td class="text-center">
                                                            <form>
                                                                <a class="badge bg-warning text-muted modalProduct" href="@Url.Action("LandingDetail", "Admin", new { @i.Id })">مشاهده</a>

                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@section script{

    <script>
 
    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#TitleEdit").val(currentrow.find($("input.mTitle[type=text]")).val());
            $("#DescEdit").val(currentrow.find($("input.mDesc[type=text]")).val());
            $('#SubCatIdEdit').val(currentrow.find($("input.mSubCategoryId[type=text]")).val());
            $('#LogoEdit').attr("src", '/images/Brand/'+(currentrow.find($("input.mLogo[type=text]")).val()));
        });
       
    });
    $('#Image').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#LogoEdit').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
</script>

}