@using Application.Common.Utilities
@using Domain.Entity.Factor
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
    List<Factor> factors = ViewBag.Factors;
}

@section link
{
    <style>
    .modal{
        top: 80px;
    }
</style>
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <!-- IonIcons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="/dist/css/bootstrap-rtl.min.css">
    <!-- template rtl version -->
    <link rel="stylesheet" href="/dist/css/custom-style.css">

}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت سفارشات</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">بررسی اجمالی فروشگاه آنلاین</h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-sm btn-tool">
                                <i class="fa fa-download"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-tool">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="text-success text-xl text-center">
                                <i class="fa fa-shopping-basket"></i>
                            </p>
                            <p class="d-flex flex-column text-right">
                                <span class="font-weight-bold text-center">
                                    <i class="fa fa-arrow-up text-success"></i> @factors.Where(x => x.InsertDate.Month == DateTime.Now.Month).ToList().Count
                                </span>
                                <span class="text-muted">سفارشات کل</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="text-warning text-xl text-center">
                                <i class="fa fa-shopping-cart"></i>
                            </p>
                            <p class="d-flex flex-column text-right">
                                <span class="font-weight-bold text-center">
                                    <i class="fa fa-arrow-up text-warning"></i>@factors.Count(x => x.InsertDate.Day == DateTime.Now.Day)
                                </span>
                                <span class="text-muted">سفارشات امروز</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->
                        <div class="d-flex justify-content-between align-items-center mb-0">
                            <p class="text-danger text-xl text-center">
                                <i class="fa fa-archive"></i>
                            </p>
                            <p class="d-flex flex-column text-right">
                                <span class="font-weight-bold text-center">
                                    <i class="fa fa-arrow-down text-danger "></i> @factors.Where(x => x.IsReturned).ToList().Count
                                </span>
                                <span class="text-muted">تعداد مرجوعی</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">سفارشات</a>
                            </li>
                        </ul>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="card mt-3">
                                <form asp-action="ManageFactor" asp-controller="Admin" method="post">
                                    <div class="input-group p-3  m-2 w-50">
                                        <input type="text" class="form-control " name="search" style="border-radius: 0px 5px 5px 0px; !important;" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو</button>
                                    </div>
                                </form>

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 10%">کد فاکتور</th>
                                            <th class="text-center" style="width: 20%">نام کاربر</th>
                                            <th class="text-center" style="width: 20%">نوع فاکتور</th>
                                            <th class="text-center" style="width: 25%">مبلغ</th>
                                            <th class="text-center" style="width: 10%">تاریخ</th>
                                            <th class="text-center" style="width: 20%">وضعیت</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>
                                        @{
                                            if (factors.Count < 1)
                                            {
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td class="text-center">
                                                        یافت نشد

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var i in factors)
                                                {
                                                    <tr>
                                                        <td class="text-center">@i.Id</td>
                                                        <td class="text-center">@i.FactorCode</td>
                                                        <td class="text-center">@i.User.Name @i.User.Family</td>
                                                        <td class="text-center">@i.AccountType.ToDisplay()</td>
                                                        <td class="text-center">@i.Amount.ToString("N0")</td>
                                                        <td class="text-center">@i.InsertDate.ToPersianTime()</td>
                                                        <td class="text-center">@i.Status.ToDisplay()</td>
                                                        <td class="text-center">
                                                            <a class="badge bg-warning text-muted" href="@Url.Action("FactorDetail", "Admin", new { @i.Id })">مشاهده</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Modal -->
<div class="modal fade exampleModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <form class="modal-content" asp-action="UpdateFaq" asp-controller="Admin" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش </h5>
                <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="idP" id="idP" required="required" name="Id" hidden="hidden">
                <div class="d-flex flex-column">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">عنوان </span>
                        <input type="text" id="TitleEdit" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="title">
                    </div>
                    <div class="input-group p-3 m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">توضیحات</span>
                        <textarea type="text" id="DescEdit" style="border-radius: 5px 0px 0px 5px;" class="form-control brandP" name="desc"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <button type="submit" class="btn btn-primary ">ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>

@section script{

    <script>

    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#TitleEdit").val(currentrow.find($("input.mTitle[type=text]")).val());
            $("#DescEdit").val(currentrow.find($("input.mDesc[type=text]")).val());
        });

    });
</script>
    <script src="/dist/js/pages/dashboard3.js"></script>

}