@using Domain.Entity.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
Layout = "_LayoutAdmin";
List<DiscountCode> discountCodes = ViewBag.DiscountCode;
}

@section link
{
<style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت کد های تخفیف</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">کد تخفیف </a>
                            </li>
                        </ul>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex justify-content-around p-2"
                                      asp-action="InsertDiscount" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">کد </label>
                                        <input name="code" class="form-control" required="required" id="exampleInputPassword1">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">مبلغ</label>
                                        <input name="amount" required="required"  class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">تعداد</label>
                                        <input name="count"  required="required" class="form-control">
                                    </div>
                                    <div class="d-flex flex-column align-content-center justify-content-center ">
                                        <div class="form-input">
                                            <button type="submit" class="btn btn-primary">ثبت</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="card mt-3">
                                <form asp-action="ManageDiscount" asp-controller="Admin" method="post">
                                    <div class="input-group p-3  m-2 w-50">
                                        <input type="text" class="form-control " name="search" style="border-radius: 0px 5px 5px 0px; !important;" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو</button>
                                    </div>
                                </form>

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center" style="width: 5%">id</th>
                                            <th class="text-center" style="width: 20%">عنوان</th>
                                            <th class="text-center" style="width: 25%">مبلغ</th>
                                            <th class="text-center" style="width: 25%">تعداد</th>
                                            <th class="text-center" style="width: 25%">تعداد باقی مانده</th>
                                            <th class="text-center" style="width: 10%">#</th>
                                        </tr>
                                        @{
                                        if (discountCodes.Count < 1)
                                        {
                                        <tr>
                                            <td> </td>
                                            <td> </td>
                                            <td class="text-center">
                                                یافت نشد

                                            </td>
                                        </tr>
                                        }
                                        else
                                        {
                                        foreach (var i in discountCodes)
                                        {
                                        <tr>
                                            <td class="text-center">@i.Id</td>
                                            <td class="text-center">@i.Code</td>
                                            <td class="text-center">@i.Amount</td>
                                            <td class="text-center">@i.FirstCount</td>
                                            <td class="text-center">@i.Count</td>

                                            <td class="text-center">
                                                <form>
                                                    <a class="badge bg-warning text-muted modalProduct" data-toggle="modal" data-target="#exampleModal1">ویرایش</a>
                                                    <input type="text" name="mId" class="mId" value="@i.Id" hidden="hidden"/>
                                                    <input type="text" name="mCode" class="mCode" value="@i.Code" hidden="hidden"/>
                                                    <input type="text" name="mAmount" class="mAmount" value="@i.Amount" hidden="hidden"/>
                                                    <input type="text" name="mCount" class="mCount" value="@i.Count" hidden="hidden"/>
                                                </form>
                                            </td>
                                        </tr>
                                        }
                                        }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="modal fade exampleModal1" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px !important;">
        <form class="modal-content" asp-action="UpdateDiscount" asp-controller="Admin" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ویرایش </h5>
                <button type="button" class="close text-left" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="idP" id="idP" required="required" name="Id" hidden="hidden">
                <div class="d-flex flex-column">
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">کد </span>
                        <input type="text" id="Code" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="Code">
                    </div>
                    <div class="input-group p-3 m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">مبلغ</span>
                        <input type="text" id="Amount" style="border-radius: 5px 0px 0px 5px;" class="form-control brandP" required="required" name="Amount">
                    </div>
                    <div class="input-group p-3  m-2">
                        <span class="input-group-text" style="border-radius: 0px 5px 5px 0px;" id="">تعداد </span>
                        <input type="text" id="Count" style="border-radius: 5px 0px 0px 5px;" class="form-control nameP" required="required" name="Count">
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between gap-2">
                <button type="submit" class="btn btn-primary " >ذخیره تغیرات</button>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->


@section script
{
 <script>

    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#Code").val(currentrow.find($("input.mCode[type=text]")).val());
            $("#Amount").val(currentrow.find($("input.mAmount[type=text]")).val());
            $("#Count").val(currentrow.find($("input.mCount[type=text]")).val());
        });

    });

</script>
}
