@using Application.Common.Utilities
@using Domain.Entity.Factor
@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
Layout = "_LayoutAdmin";
List<Factor> factors = ViewBag.Factors;
}

@section link
{
<style>
    .modal{
        top: 80px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">گزارش فروش</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">درصد فروش</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChart" height="150"></canvas>
                                </div>
                                <!-- ./chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fa fa-circle-o text-danger"></i> موبایل</li>
                                    <li><i class="fa fa-circle-o text-success"></i> تبلت</li>
                                    <li><i class="fa fa-circle-o text-warning"></i> لپتاپ</li>
                                    <li><i class="fa fa-circle-o text-info"></i> مانیتور</li>
                                    <li><i class="fa fa-circle-o text-primary"></i> کارت گرافیک</li>
                                    <li><i class="fa fa-circle-o text-secondary"></i> دیگر</li>
                                </ul>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-white p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    لپتاپ
                                    <span class="float-left text-danger">
                        <i class="fa fa-arrow-down text-sm"></i>
                        12%</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    موبایل
                                    <span class="float-left text-success">
                        <i class="fa fa-arrow-up text-sm"></i> 4%
                      </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                   تبلت
                                    <span class="float-left text-warning">
                        <i class="fa fa-arrow-left text-sm"></i> 0%
                      </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.footer -->
                </div>
                
                <div class="card">
                    <div class="card-header p-2 d-flex justify-content-start">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">فاکتور های فروش</a>
                            </li>
                        </ul>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="card mt-3">
                                <form asp-action="SalesInvoice" asp-controller="Admin" method="post">
                                    <div class="input-group p-3  m-2 w-50">
                                        <input type="text" class="form-control " name="search" style="border-radius: 0px 5px 5px 0px; !important;" placeholder="جستجو">
                                        <button class="input-group-text" type="submit" style=" border-radius: 5px 0px 0px 5px !important;cursor: pointer !important;">جستجو</button>
                                    </div>
                                </form>

                                <div class="card-body p-0">
                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr>
                                            <th class="text-center">کد فاکتور</th>
                                            <th class="text-center">نام کاربر</th>
                                            <th class="text-center">مبلغ</th>
                                            <th class="text-center">تاریخ</th>
                                            <th class="text-center">بانک</th>
                                            <th class="text-center">حساب</th>
                                            <th class="text-center">وضعیت</th>
                                            <th class="text-center">پیگیری</th>
                                            <th class="text-center">#</th>
                                        </tr>
                                        @{
                                            if (factors.Count < 1)
                                            {
                                                <tr>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td class="text-center">
                                                        یافت نشد

                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                foreach (var i in factors)
                                                {
                                                    <tr>
                                                        <td class="text-center">@i.FactorCode</td>
                                                        <td class="text-center">@i.User.Name @i.User.Family</td>
                                                        <td class="text-center">@i.Amount.ToString("N0")</td>
                                                        <td class="text-center">@i.InsertDate.ToPersianTime()</td>
                                                        <td class="text-center">ملت</td>
                                                        <td class="text-center">6104****5678</td>
                                                        @if (i.Status == Status.PendingForPayment || i.Status == Status.Field)
                                                        {
                                                            <td class="text-center"><span class="badge badge-danger">پرداخت نشده</span></td>

                                                        }
                                                        else
                                                        {
                                                            <td class="text-center"><span class="badge badge-success">پرداخت شده</span></td>


                                                        }
                                                        <td class="text-center">@i.FactorCode</td>
                                                        <td class="text-center">
                                                            <a href="@Url.Action("Invoice","Admin",new{i.Id})" class="badge bg-warning text-muted">مشاهده</a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


@section script{

<script>

    $(document).ready(function () {

        $(".modalProduct").click(function () {
            var currentrow = $(this).closest("form");

            $("#idP").val(currentrow.find($("input.mId[type=text]")).val());
            $("#TitleEdit").val(currentrow.find($("input.mTitle[type=text]")).val());
            $("#DescEdit").val(currentrow.find($("input.mDesc[type=text]")).val());
        });
        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieChart       = new Chart(pieChartCanvas)
        var PieData        = [
            {
                value    : 700,
                color    : '#dc3545',
                highlight: '#dc3545',
                label    : 'موبایل'
            },
            {
                value    : 500,
                color    : '#28a745',
                highlight: '#28a745',
                label    : 'تبلت'
            },
            {
                value    : 400,
                color    : '#ffc107',
                highlight: '#ffc107',
                label    : 'لپتاپ'
            },
            {
                value    : 600,
                color    : '#17a2b8',
                highlight: '#17a2b8',
                label    : 'مانیتور'
            },
            {
                value    : 300,
                color    : '#007bff',
                highlight: '#007bff',
                label    : 'کارت گرافیک'
            },
            {
                value    : 100,
                color    : '#6c757d',
                highlight: '#6c757d',
                label    : 'دیگر'
            }
        ]
        var pieOptions     = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke    : true,
            //String - The colour of each segment stroke
            segmentStrokeColor   : '#fff',
            //Number - The width of each segment stroke
            segmentStrokeWidth   : 1,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps       : 100,
            //String - Animation easing effect
            animationEasing      : 'easeOutBounce',
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate        : true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale         : false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive           : true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio  : false,
            //String - A legend template
            legendTemplate       : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>',
            //String - A tooltip template
            tooltipTemplate      : '<%=value %> <%=label%> users'
        }
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions)
        //-----------------
    });
 
</script>

}