@using Domain.Entity.IndexPage
@model Application.Dtos.Client.SaleService
@{
    Layout = "_LayoutAdmin";
    SaleServices saleServices = ViewBag.SaleServices;
}

@section link
{
    <style>
    .modal{
        top: 80px;
    }
    img{
        max-width: 650px;
    }
</style>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">مدیریت خدمات فروش</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Admin")">خانه</a>
                    </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active show" href="#activity" data-toggle="tab">خدمات فروش</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="activity">
                                <form style="background-color:	rgb(220,220,220,0.4)" class="d-flex flex-column gap-2 p-2"
                                      asp-action="InsertSaleServices" asp-controller="Admin" method="post" enctype="multipart/form-data">
                                    <input asp-for="Id" value="@saleServices.Id" hidden="hidden">
                                    <div class="d-flex justify-content-between w-100" style="background-color:	rgb(220,220,220,0.4)">
                                        <div class=" m-2  p-3 w-50">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">لوگو</label>
                                                    <input type="file" asp-for="Desc1Logo" id="Desc1LogoIn" class="form-control">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">توضیحات1</label>
                                                    <input asp-for="Desc1" value="@saleServices.Desc1" class="form-control" id="exampleInputPassword1">
                                                </div>
                                            </div>
                                            <div class="input-group p-3 " style="justify-content: center;">
                                                <img src="/Images/Logo/@saleServices.Desc1Logo" id="Desc1Logo" style="object-fit: cover;border-radius: 8px" class="imageOneP"/>
                                            </div>
                                        </div>
                                        <div class=" m-2  p-3 w-50">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">لوگو</label>
                                                    <input type="file" asp-for="Desc2Logo" id="Desc2LogoIn" class="form-control">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">توضیحات</label>
                                                    <input asp-for="Desc2" value="@saleServices.Desc2" class="form-control" id="exampleInputPassword1">
                                                </div>
                                            </div>
                                            <div class="input-group p-3 " style="justify-content: center;">
                                                <img src="/Images/Logo/@saleServices.Desc2Logo" id="Desc2Logo" style="object-fit: cover;border-radius: 8px" class="imageOneP"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between w-100" style="background-color:	rgb(220,220,220,0.4)">
                                        <div class=" m-2  p-3 w-50">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">لوگو</label>
                                                    <input type="file" asp-for="Desc3Logo" id="Desc3LogoIn" class="form-control">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">توضیحات</label>
                                                    <input asp-for="Desc3" value="@saleServices.Desc3" class="form-control" id="exampleInputPassword1">
                                                </div>
                                            </div>
                                            <div class="input-group p-3 " style="justify-content: center;">
                                                <img src="/Images/Logo/@saleServices.Desc3Logo" id="Desc3Logo" style="object-fit: cover;border-radius: 8px" class="imageOneP"/>
                                            </div>
                                        </div>
                                        <div class=" m-2  p-3 w-50">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">لوگو</label>
                                                    <input type="file" asp-for="Desc4Logo" id="Desc4LogoIn" class="form-control">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">توضیحات</label>
                                                    <input asp-for="Desc4" value="@saleServices.Desc4" class="form-control" id="exampleInputPassword1">
                                                </div>
                                            </div>
                                            <div class="input-group p-3 " style="justify-content: center;">
                                                <img src="/Images/Logo/@saleServices.Desc4Logo" id="Desc4Logo" style="object-fit: cover;border-radius: 8px" class="imageOneP"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between w-100" style="background-color:	rgb(220,220,220,0.4)">

                                        <div class=" m-2  p-3 w-50">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">لوگو</label>
                                                    <input type="file" asp-for="Desc5Logo" id="Desc5LogoIn" class="form-control">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <label for="exampleInputPassword1">توضیحات</label>
                                                    <input asp-for="Desc5" value="@saleServices.Desc5" class="form-control" id="exampleInputPassword1">
                                                </div>
                                            </div>
                                            <div class="input-group p-3 " style="justify-content: center;">
                                                <img src="/Images/Logo/@saleServices.Desc5Logo" id="Desc5Logo" style="object-fit: cover;border-radius: 8px" class="imageOneP"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between w-100" style="background-color:	rgb(220,220,220,0.4)">

                                        <div class="form-group w-100 pt-2">
                                            <label for="exampleInputPassword1">توضیحات ارسال امروز</label>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <textarea id="editor2" asp-for="DescShippingToday" class=" form-control " name="DescShippingToday" style="width: 100%">
                                                  
                                                            </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between w-100" style="background-color:	rgb(220,220,220,0.4)">

                                        <div class="form-group w-100 pt-2">
                                            <label for="exampleInputPassword1">توضیحات تحویل حضوری</label>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <textarea id="editor1" asp-for="DescReceivePerson" class=" form-control " name="DescReceivePerson" style="width: 100%">
                                                            </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <button class="btn btn-success" type="submit"> ثبت</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

@section script{
    <script>
        $(document).ready(function () {
            document.getElementById('editor1').innerHTML = '@saleServices.DescReceivePerson';
            document.getElementById('editor2').innerHTML = '@saleServices.DescShippingToday';
            ClassicEditor
                .create(document.querySelector('#editor1'), {
                    // پشتیبانی کامل از تگ‌های HTML
                    htmlSupport: {
                        allow: [
                            {
                                name: /.*/,
                                attributes: true,
                                classes: true,
                                styles: true
                            }
                        ]
                    },
                    // تنظیم نوار ابزار با همه گزینه‌ها
                    toolbar: {
                        items: [
                            'undo', 'redo',
                            '|', 'heading',
                            '|', 'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor',
                            '|', 'bold', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript', 'highlight', 'code',
                            '|', 'link', 'blockQuote', 'codeBlock', 'htmlEmbed', 'sourceEditing',
                            '|', 'alignment', 'indent', 'outdent',
                            '|', 'bulletedList', 'numberedList', 'todoList',
                            '|', 'imageUpload', 'imageInsert', 'mediaEmbed',
                            '|', 'insertTable', 'tableColumn', 'tableRow', 'mergeTableCells',
                            '|', 'specialCharacters', 'horizontalLine', 'pageBreak',
                            '|', 'findAndReplace', 'removeFormat', 'selectAll'
                        ],
                        shouldNotGroupWhenFull: false
                    },
                    // تنظیمات هدینگ
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                        ]
                    },
                    // تنظیمات جدول
                    table: {
                        contentToolbar: [
                            'tableColumn', 'tableRow', 'mergeTableCells', 'tableCellProperties', 'tableProperties'
                        ]
                    },
                    // تنظیمات لینک
                    link: {
                        addTargetToExternalLinks: true,
                        decorators: [
                            {
                                mode: 'manual',
                                label: 'قابلیت دانلود',
                                attributes: { download: 'download' },
                                defaultValue: false
                            },
                        ]
                    },
                    // تنظیمات رنگ فونت
                    fontColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                            { color: '#f7f7f7', label: 'خاکستری' },
                        ]
                    },
                    // تنظیمات رنگ پس‌زمینه
                    fontBackgroundColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                        ]
                    },
                    extraPlugins: [
                        // پلاگین‌های اضافی
                        MyCustomUploadAdapterPlugin,
                    ]
                })
                .then(editor => {
                    window.editor = editor;
                })
                .catch(error => {
                    console.error('There was a problem initializing the editor.', error);
                });

            ClassicEditor
                .create(document.querySelector('#editor2'), {
                    // پشتیبانی کامل از تگ‌های HTML
                    htmlSupport: {
                        allow: [
                            {
                                name: /.*/,
                                attributes: true,
                                classes: true,
                                styles: true
                            }
                        ]
                    },
                    // تنظیم نوار ابزار با همه گزینه‌ها
                    toolbar: {
                        items: [
                            'undo', 'redo',
                            '|', 'heading',
                            '|', 'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor',
                            '|', 'bold', 'italic', 'underline', 'strikethrough', 'subscript', 'superscript', 'highlight', 'code',
                            '|', 'link', 'blockQuote', 'codeBlock', 'htmlEmbed', 'sourceEditing',
                            '|', 'alignment', 'indent', 'outdent',
                            '|', 'bulletedList', 'numberedList', 'todoList',
                            '|', 'imageUpload', 'imageInsert', 'mediaEmbed',
                            '|', 'insertTable', 'tableColumn', 'tableRow', 'mergeTableCells',
                            '|', 'specialCharacters', 'horizontalLine', 'pageBreak',
                            '|', 'findAndReplace', 'removeFormat', 'selectAll'
                        ],
                        shouldNotGroupWhenFull: false
                    },
                    // تنظیمات هدینگ
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                        ]
                    },
                    // تنظیمات جدول
                    table: {
                        contentToolbar: [
                            'tableColumn', 'tableRow', 'mergeTableCells', 'tableCellProperties', 'tableProperties'
                        ]
                    },
                    // تنظیمات لینک
                    link: {
                        addTargetToExternalLinks: true,
                        decorators: [
                            {
                                mode: 'manual',
                                label: 'قابلیت دانلود',
                                attributes: { download: 'download' },
                                defaultValue: false
                            },
                        ]
                    },
                    // تنظیمات رنگ فونت
                    fontColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                            { color: '#f7f7f7', label: 'خاکستری' },
                        ]
                    },
                    // تنظیمات رنگ پس‌زمینه
                    fontBackgroundColor: {
                        colors: [
                            { color: 'red', label: 'قرمز' },
                            { color: 'green', label: 'سبز' },
                            { color: 'blue', label: 'آبی' },
                            { color: 'pink', label: 'صورتی' },
                        ]
                    },
                    extraPlugins: [
                        // پلاگین‌های اضافی
                        MyCustomUploadAdapterPlugin,
                    ]
                })
                .then(editor => {
                    window.editor = editor;
                })
                .catch(error => {
                    console.error('There was a problem initializing the editor.', error);
                });
            window.addEventListener("load", (e) => {
            
            });
        

        });
        $('#Desc1LogoIn').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Desc1Logo').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#Desc2LogoIn').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Desc2Logo').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#Desc3LogoIn').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Desc3Logo').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
    $('#Desc4LogoIn').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Desc4Logo').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
    
    $('#Desc5LogoIn').on('change', function(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#Desc5Logo').attr('src', e.target.result).show();
            }
            reader.readAsDataURL(input.files[0]);
        }
    });
 
</script>
}